
<% if value %>
  <% if value.to_i < 20 %>
    <% colour = "red" %>
  <% elsif value.to_i < 22 %>
    <% colour = "orange" %>
  <% else %>
    <% colour = "green" %>
  <% end %>
<% end %>
<td class="<%= colour %>"><%= value %></td>
