<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<td class="property_group_<%= group.blank? ? 'general' : group %>">
  <div class="cell_property_group_<%= group.blank? ? 'general' : group %>">
    <%= form.label(field_name, "#{ sections.label } for sample #{ index }", style: 'display:none;') %>
    <span class="value"><%= field %></span>
  </div>
</td>
