<td class="property_group_<%= group.blank? ? 'general' : group %>">
  <div class="cell_property_group_<%= group.blank? ? 'general' : group %>">
    <%= form.label(field_name, "#{ sections.label } for sample #{ index }", :style => 'display:none;') %>
    <span class="value"><%= field %></span>
  </div>
</td>
