<%= page_title 'SPrint' %>

<div id="hello">
  <h1>This page is a proof of concept</h1>
  <h2>Press the button the send a print request to SPrint</h2>

  <%= button_to 'Print', sprint_action_path, method: :post %>
</div>
