<table>
  <thead>
    <tr>
      <th><%= @creator.created_plates.first[:source].purpose.name %></th>
      <% @creator.created_plates.first[:destinations].each do |dest| %>
        <th><%= dest.purpose.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @creator.created_plates.each do |entry| %>
      <tr>
        <td><%= entry[:source].barcodes.first.barcode %> </td>
        <% entry[:destinations].each do |destination| %>
            <td><%= destination.barcodes.first.barcode %>  </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
