<% if @creator && @creator.created_plates && @creator.created_plates.length > 0 %>
  <%= link_to "Click here to re-print barcodes from Asset Group", print_study_asset_group_path(id: @creator.created_asset_group, study_id: 3) %>

  <table class="table table-sm table-success table-bordered">
    <caption>Created labware</caption>
    <thead>
      <tr>
        <th scope="col">Source  </th>
        <% @creator.created_plates.first[:destinations].each do |dest| %>
          <th scope="col"><%= dest.purpose.name %> </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @creator.created_plates.each do |entry| %>
        <tr>
          <td scope="row"><%= entry[:source].barcodes.first.barcode unless entry[:source].nil? %> </td>
          <% entry[:destinations].each do |destination| %>
              <td><%= destination.barcodes.first.barcode %>  </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>