<%= page_title 'Report Fails' %>

<h4>Submitting this information populates the UK Biobank report. Please ensure the information
is correct.</h4>

<%= render partial: 'form', locals: {report_fail: @report_fail}%>
