<%= bs_column do %>
  <h2>Samples</h2>
  <%= pagination samples %>

  <% samples.each do |sample| %>
    <%= link_to "#{sample.sanger_sample_id} (#{sample.name})", sample_path(sample) %><br />
  <% end %>
  <%= pagination samples %>

  <% if samples.size == 0 %>
    <div class="help">
      Samples may take a few minutes to be processed.
    </div>
  <% end %>
<% end %>