<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<h2>Upload a sample manifest</h2>

<%= form_for :sample_manifest, url: upload_sample_manifests_url, html: { multipart: true } do |form| -%>
  <label style='display: none;' for="sample_manifest_uploaded">File to upload</label>
  <%= form.file_field :uploaded %><br/><br />
  <%= form.check_box :override %><label  for="sample_manifest_override">Override previously uploaded samples</label>
  <br/><br />
  <%= form.submit 'Upload manifest' %>
<% end %>
