<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<% add :title, "Samples" -%>

<h1>CREATE SAMPLE</h1>

<div class="info">
  To add a new sample, complete the form below. Required fields are marked with <%= required_marker %>.
</div>
<div id="sample">
  <%= form_for :sample, :url => samples_path do |form| -%>
    <%= render :partial => "sample", :locals => { :read_only => false, :creation => true, :form => form } -%>
  <% end -%>
</div>
