!/.gitignore
*.log
tmp/*
.DS_Store
public/doc/*
db/*.sql
db/views_schema.old
repository
lib/tasks/*.local.rake
public/documents
public/system
metrics_directory/*
*.swp
*~
*.orig
db/*test.sqlite3
.bundle
rcov
capybara*.html
.Rakelist
database_suffix
tags
*.sublime-workspace
lib/sample_manifest_excel/doc/
coverage
.yardoc
rerun
spec/examples.txt
doc/*
.yardoc/*
