!/.gitignore
*.log
tmp/*
.DS_Store
public/doc/*
db/*.sql
repository
lib/tasks/*.local.rake
public/documents
public/system
metrics_directory/*
*.swp
*~
*.orig
db/*test.sqlite3
.bundle
rcov
capybara*.html
.Rakelist
database_suffix
tags
