# Ignore artifacts:
!/.gitignore
*.log.[0-9]
*.log
tmp/*
.DS_Store
public/doc/*
db/*.sql
db/schema.rb
db/views_schema.rb
db/views_schema.old
repository
lib/tasks/*.local.rake
log/ruby_prof_profile
public/documents
public/system
metrics_directory/*
*.swp
*~
*.orig
db/*test.sqlite3
.bundle
rcov
capybara*.html
.Rakelist
database_suffix
*.sublime-workspace
app/sample_manifest_excel/doc/
coverage
.yardoc
rerun*
spec/examples.txt
public/public
doc/*
.yardoc/*
test_file.xlsx
new_test_file.xlsx
node_modules
sbin

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
*.json
/vendor
.rubocop_todo.yml
.history/*
config/cucumber.yml
config/database.yml
*.min.js
public/vite-*
.ruby-lsp/vendor
