!/.gitignore
.bundle
.DS_Store
.history/*
.Rakelist
.rubocop_todo.yml
.ruby-lsp/vendor
.yardoc
.yardoc/*
.yarn-integrity
*.json
*.log
*.log.[0-9]
*.min.js
*.orig
*.sublime-workspace
*.swp
*~
/node_modules
/public/packs
/public/packs-test
/vendor
/yarn-error.log
app/sample_manifest_excel/doc/
bin/cucumber
capybara*.html
config/cucumber.yml
config/database.yml
coverage
data/avro_schema_cache/*
database_suffix
db/*.sql
db/*test.sqlite3
db/schema.rb
db/views_schema.old
db/views_schema.rb
doc/*
features/step_definitions
features/support
features/support/env.rb
lib/tasks
lib/tasks/*.local.rake
lib/tasks/cucumber.rake
log/ruby_prof_profile
metrics_directory/*
new_test_file.xlsx
node_modules
public/doc/*
public/documents
public/public
public/system
public/vite-*
rcov
repository
rerun*
sbin
spec/examples.txt
test_file.xlsx
tmp/*
yarn-debug.log*
