<div class="uat-form-group">
  <%= f.label(form_field.attribute, form_field.label) %>
  <% if form_field.type == :select %>
    <%= f.select(form_field.attribute, form_field.select_options, form_field.options, { class: 'select2' }) %>
  <% else %>
    <%= f.send(form_field.type, form_field.attribute, form_field.options) %>
  <% end %>
  <p class="form-help"><%= form_field.help %></p>
</div>
