<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2015 Genome Research Ltd.%>

<div class="col-md-6">
  <div class="card card-default">
    <h3 class="card-header">Metadata</h3>
    <table class='table table-summary'>
      <% @custom_metadatum_collection.metadata.each do |k,v| %>
        <tr>
          <th><%= k %></th>
          <td>
            <%= v %>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>
