<%= javascript_include_tag 'cherrypick.js' %>

<h1>Edit template</h1>

<%= render :partial => "layout_plate", :locals => {:target_action => "update", :plate_cols => @plate_cols, :plate_rows => @plate_rows, :pattern => @pattern} %>
