
<h2>Upload a sample manifest (only if it includes tag sequences)</h2>

<%= form_tag(sample_manifest_upload_with_tag_sequences_path, multipart: true) do -%>
  <fieldset>
    <div class="form-group">
      <%= label_tag :upload, 'File to upload' %>
      <%= file_field_tag :upload %>
    </div>
    <div class="form-group">
      <%= submit_tag 'Upload manifest' %>
    </div>
  </fieldset>
<% end -%>
