<h2>Results for: <span style="background-color: #FFFF66"> <%= @query %> </span></h2>
<% unless @batches.blank? %>
  <h3 id="batches">Batches</h3>
  <div class="info">
    <table width="100%" cellspacing="0" cellpadding="4">
      <thead>
        <tr>
          <th class="label" width="20%">Batch ID</th>
          <th class="label">Pipeline</th>
          <th class="label">Batch Status</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "search/show/batch", :collection => @batches %>
      </tbody>
    </table>
  </div>
<%- else -%>
  <div>No results for batches</div>
<%- end -%>

<% unless @assets.blank? %>
  <h3 id="requests">Assets</h3>
  <div class="info">
  <table width="100%" cellspacing="0" cellpadding="4">
    <thead>
      <tr>
        <th class="label" width="25%">Asset</th>
        <th class="label" width="15%">Barcode</th>
        <th class="label" width="15%">Pipeline</th>
        <th class="label" width="10%">Request ID</th>
        <th class="label" width="10%">Batch ID</th>
        <th class="label" width="20%">Type</th>
        <th class="label" width="20%">Location</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "search/show/asset", :collection => @assets %>
    </tbody>
  </table>
  </div>
<%- else -%>
  <div>No results for assets</div>
<%- end -%>
