<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<% add :title, "You can search for batches, users, libraries and requests here." -%>

<div>
  <h1>Search</h1>
  <div class="info">
    <% form_tag('/search/new', :method => :get) do -%>
      <div>Search for: <%= text_field_tag "q" -%> <%= submit_tag "Go" -%></div>
    <% end -%>
  </div>
  <% unless params["q"].blank? -%>
    <div id="results">
      <%= render :partial => "search" %>
    </div>
  <% end -%>
</div>
