<% add :title, "You can search for batches, users, libraries and requests here." -%>

<div>
  <h1>Search</h1>
  <div class="info">
    <% form_tag('/search/new', :method => :get) do -%>
      <div>Search for: <%= text_field_tag "q" -%> <%= submit_tag "Go" -%></div>
    <% end -%>
  </div>
  <% unless params["q"].blank? -%>
    <div id="results">
      <%= render :partial => "search" %>
    </div>
  <% end -%>
</div>
