
<div class="page-header"><h1>Listing Tag Groups</h1></div>

<table class="table">
  <thead>
    <th>Name</th>
    <th>No. of Tags</th>
    <th></th>
  </thead>
  <tbody>
  <% for tag_group in @tag_groups %>
    <tr>
      <td><%=h tag_group.name %></td>
      <td><%=h tag_group.tags.count %></td>
      <td><%= link_to 'Show', tag_group %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<script type="text/javascript">$('table tbody > tr:nth-child(even)').addClass('roweven');</script>

<% if current_user.administrator? %>
<%= link_to 'Create a new Tag Group', new_tag_group_path %>
<% end %>
