<%= page_title 'Eloise\'s Plate Picks' %>
<p class="lead">Helps to group plates into picks</p>
<div id="plate-picks-app">
  <%= alert(:warning) do %>
  We’ve removed this feature as it didn’t seem to be in use.
  If you still need it, please contact PSD using the Help button.
  <% end %>
</div>
