<%= vite_javascript_tag 'plate_picks' %>

<%= page_title 'Eloise\'s Plate Picks' %>
<p class="lead">Helps to group plates into picks</p>
<div id="plate-picks-app">
  <!-- This content gets replaced by our app once its loaded -->
  <%= loading_bar(show: true) %>
</div>
