<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<% add :title, I18n.t("studies.about") -%>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_path(@study) -%>

<h1>Sample registration</h1>

<p>There are two recommended ways to register samples for use with a study in Sequencescape:</p>

<h2><%= link_to "1. Manual entry", new_study_sample_registration_path %></h2>
<p>Type your samples in online using the manual entry form.</p>

<h2><%= link_to "2. Spreadsheet load", upload_study_sample_registration_index_path %></h2>
<p>Pre-populate the manual entry form with values from an Excel spreadsheet.</p>
