
<% add :about, I18n.t("studies.about") -%>
<% add :menu, "Register using spreadsheet" => upload_study_sample_registration_index_path -%>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_path(@study) -%>

<div class="page-header"><h1>Sample registration</h1></div>

<%= render partial: "sample_registrar" %>
