<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<div id='field_<%= field_number %>_option_<%= option_number %>'>
  Option:
  <%= text_field_tag("descriptor[#{ field_number }][selection][#{ option_number }]", name, size: 20) %>
  <% link_to_add_option(field_number, 'tasks', 'task') do  %><img src="/images/add.png" width="12" height="12" alt="Add"><% end %>
  <% link_to_remove_option(field_number, option_number) do %><img src="/images/delete.png" width="12" height="12" alt="Delete"><% end %>
</div>
