
<ul id="request_annotations_<%= @request.id %>" class="list-group">
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <li class="list-group-item">
        <%= render partial: "shared/comment" ,
                   locals: { comment: comment, update_target: "request_annotations_#{@request.id}" }%>
      </li>
    <% end %>
  <% else %>
    <%= display_user_guide(I18n.t('requests.comments.no_comments')) %>
  <% end %>
</ul>
