<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<ul id="request_annotations_<%= @request.id %>" class="list-group">
  <% if @request.comments.size > 0 %>
    <% @comments.each do |comment| %>
      <li class="list-group-item"><%= render partial: "comment" , locals: {comment: comment, commentable: @request}%></li>
    <% end %>
  <% else %>
    <%= display_user_guide(I18n.t('requests.comments.no_comments')) %>
  <% end %>
</ul>
