
<% add :about, "Resources lookup" -%>
<% add :menu, "Reception" => "reception" -%>
<% add :back_menu, "Back to pipelines" => pipelines_path -%>

<div class="page-header"><h1>Find Asset</h1></div>
<div class="content">
  <center>
    <div id='form'>
      <div id='message'>
        <strong>Scan your asset:</strong>
      </div>
      <br />
      <%= form_for(:asset, method: :get) do |f| %>
        <div class='entry'>
          <%= text_field :asset, :barcode, { class: 'big' } %>
        </div>
      <% end %>
      <div id='loading' style='display: none;'>Loading <div class="spinner-border" role="status" id="update_loader"></div></div>
      <div id='response'>
      </div>
      <br />
    </div>
  </center>
</div>
