<%= page_title('Support actions') %>
<p class="lead">Provides automated support actions for dealing with common
customer needs, and providing clear tracking.</p>
<div class="columnize">
  <%= render @support_actions %>
</div>
