<% add :menu, "SDB Home" => '/sdb/' %>
<% add :menu, "New Supplier" => new_supplier_path() %>
<h2>Suppliers</h2>

<%= render :partial => 'shared/suppliers_list', :locals => { :suppliers => @suppliers }%>

