
<% add :menu, "SDB Home" => '/sdb/' %>
<% add :menu, "Back to supplier" => supplier_path(@supplier) -%>
<div class="page-header"><h1>Studies for supplier <%= @supplier.name %></h1></div>
<%= render partial: "studies/study_list",  locals: {studies: @studies} %>
