<% add :menu, "SDB Home" => '/sdb/' %>
<% add :menu, "Back to supplier" => supplier_path(@supplier) -%>
<h1>Studies for supplier <%= @supplier.name %></h1>
<%= render :partial => "studies/study_list",  :locals => {:studies => @studies} %>
