
<p>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <%= f.label :category %>
  <%= f.select :category, options_for_select(BaitLibraryType.categories.keys.to_a, selected: @bait_library_type.category, class: 'form-control') %>
</p>
