/* This file contains the styling for shared components
 * Please ensure you keep it commented
 */

/* A Summary table presents simple key-value pairs */
.table-summary th { text-align: right;}
.table-summary th:after {
  content: ":";
}
/*table.sortable { table-layout:fixed; }*/

table.sortable th:focus {
  outline: none;
}

/* Dense Information tables use smaller fonts */
table.table-dense-information tbody {
  font-size: smaller;
}

/* main-row encomasses the bulk of the application */
.main-row { margin-bottom:10px; }


.loading-bar { width: 100% !important; }
.loading-bar-container { display: none; }
.loading-bar-placeholder {  margin: 11px 0;}

.formtastic label.ft-label { width: 25%; }
.formtastic input[type="file"] {
  display: inline-block;
}

.formtastic .boolean label.ft-label { width: auto; }
.formtastic input.btn { padding: 6px 12px; }
