/* This is a collection of styles to help override some of the automatic rules, in specific cases.
 * Ideally we fish to eliminate as many of these as possible.
 */

/* Formtastic automaticall sizes our elements. This doesn't play nicely with some pages */
.formtastic.plates .stringish input {
  width: 100%;
}
.formtastic.plates .text textarea {
  width: 100%;
}

#select2-plates_dilution_factor-results li:first-child {
  background-color: green;
  color: white;
}
