.batch-controls {
  @extend .mt-3;
  @extend .mb-3;
  @extend .row;
  @extend .justify-content-start;

  .select-deselect {
    @extend .btn-group;
    @extend .col-2;
  }

  .batch-actions {
    @extend .col-6;
    select {
      @extend .custom-select;
      width: auto;
    }
    input[type="submit"] {
      @extend .btn;
      @extend .btn-info;
    }
  }
}

#limit_info {
  @extend .card;
  @extend .bg-info;
  @extend .mb-3;
  @extend .mt-3;
  @extend .text-white;
}
