<div id="commentBox">
  <div id='left'>
    <%= comment.description %>
  </div>
  <div id='right'>
    Added by <%= comment.user.login %> <%= comment.created_at.to_formatted_s(:short)%> &nbsp;
    <% if (current_user.id == comment.user.id) || current_user.administrator? %>
      <%= link_to_remote image_tag("delete.png", :alt => "Delete", :title => "Delete"), :update => "sample_annotations_#{commentable.id}",
          :url => { :action => "destroy", :id => comment.id }, :method => :delete %>
    <% end %>
  </div>
</div>
