<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<%= form_for @task, url: { action: "stage", id: @stage, workflow_id: @workflow.id, batch_id: @batch.id, next_stage: true }, html: { id: "stage_form"} do |form| %>
<%= render partial: "shared/batch", locals: { requests: @batch.ordered_requests, edit: false, stage: true } %>
        <br />
        <h1>TASK DETAILS</h1>
          <div class="content">
  <p class="info">Please scan the barcode of the aliquot of spiked hybridization buffer that will be used for the selected lane.</p>
<p>
<label for="barcode_">Barcode</label>: <%= text_field :barcode , nil %>

</p>
</div>

  <%= render partial: "next_stage_submit" %>
<% end %>

