<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<%= form_for @task,
  :url => {
    :action => "stage",
    :id => @stage,
    :workflow_id => @workflow.id,
    :batch_id => @batch.id,
    :next_stage => true },
  :html => { :id => "stage_form"} do |form| %>
  <fieldset>
    <legend>Please Choose a Purpose for Your Output Plates:</legend>
    <label for="assign_plate_purpose_task_plate_purpose_id">Plate Purpose</label>:
    <%= form.select :plate_purpose_id, @plate_purpose_options %>
  </fieldset>

  <%= render :partial => "next_stage_submit" %>
<% end -%>
