<% form_for @workflow, :url => { :action => "stage", :id => @stage, :workflow_id => @workflow.id, :batch_id => @batch.id, :next_stage => true }, :html => { :id => "stage_form", :multipart => true} do |form| %>

<h2>Step 1</h2>
<%= render :partial => 'cherrypicking_volume_parameters' %>

<div id='plate_purpose_box'>
<h2>Step 2</h2>
<fieldset>
    <legend>Please Choose a Purpose for Your Output Plates:</legend>
    <label for="plate_purpose_id">Plate Purpose</label>:
    <%= select_tag("plate_purpose_id", options_for_select(@plate_purpose_options)) %>
</fieldset>
</div>
  <%= render :partial => "next_stage_submit" %>
<% end %>
