<%# locals: { form:, default_volume_value: '', hide_strategy_option: false } -%>
<%
  hide_strategy_option ||= false
%>

<div id='pick_by_micro_litre'>

  <% if hide_strategy_option %>
    <%= hidden_field(:cherrypick, :strategy, value: "micro_litre") %>
  <% else %>
    <%= cherrypick_strategy_radio_button :cherrypick, :strategy, :micro_litre, 'Pick by volume (µl)' %>
  <% end %>
  <%= fields_for :micro_litre do | micro_litre_fields |%>
    <%= cherrypick_form_group_text micro_litre_fields, :volume_required, 'Volume (µl)', '13' %>
  <% end %>

</div>
