<p>Choose a strategy below:</p>

<div class="card-columns">

  <div class="card" data-group='cherrypick[strategy]'>
    <div class="card-body">
      <h5 class="card-title">Concentration</h5>
      <%= render partial: 'cherrypick_by_concentration' %>
    </div>
  </div>

  <div class="card" data-group='cherrypick[strategy]'>
    <div class="card-body">
      <h5 class="card-title">Amount</h5>
      <%= render partial: 'cherrypick_by_amount' %>
    </div>
  </div>

  <div class="card" data-group='cherrypick[strategy]'>
    <div class="card-body">
      <h5 class="card-title">Volume</h5>
      <%= render partial: 'cherrypick_by_volume' %>
    </div>
  </div>

</div>

<%= vite_javascript_tag 'cherrypick_strategies' %>
