<%# locals: (default_volume_value: '', hide_strategy_option: false) -%> <%# <-- this is Rails 7.1 magic %>
<%
  hide_strategy_option ||= false
  default_volume_value ||= ''
%>

<div id='pick_by_micro_litre'>

  <% if hide_strategy_option %>
    <%= hidden_field("cherrypick", "strategy", value: "micro_litre") %>
  <% else %>
    <%= render partial: 'form_group_radio', locals: { field_name: 'cherrypick', category: 'strategy', field_value: 'micro_litre', label_text: 'Pick by volume (µl)' } %>
  <% end %>

  <%= fields_for :micro_litre do |ff|%>
    <%= render partial: 'form_group_text', locals: { field_name: 'volume_required', label_text: 'Volume (µl)', field_value: default_volume_value } %>
  <% end %>

</div>
