
<div id='pick_by_micro_litre'>
<fieldset>
  <%= hidden_field("cherrypick", "action", value: "micro_litre") %>
    <table cellspacing='0' cellpadding='0'>
      <%= fields_for :micro_litre do |ff|%>
        <tr>
          <td><label for="volume_required">Volume</label> (&micro;l):</td>
          <td><%= ff.text_field 'volume_required', value: '13', size: 5 %></td>
        </tr>
      <% end %>
    </table>
</fieldset>
</div>
