<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2013 Genome Research Ltd.%>
<div id='pick_by_micro_litre'>
<fieldset>
  <%= hidden_field("cherrypick", "action", :value=>"micro_litre") %>
    <table cellspacing='0' cellpadding='0'>
    <tr>
      <td><label for="micro_litre_volume_required">Volume</label> (&micro;l):</td>
      <td><%= text_field_tag 'micro_litre_volume_required', '13', :size => 5 %></td>
    </tr>
    </table>
</fieldset>
</div>
