
  <% if @task.per_item %>
    <% @batch.requests.sort_by(&:position).each do |request| %>
      <h4>Asset: <%= request.asset.display_name -%></h4>
      <%= render partial: 'descriptor', collection: @task.descriptors, locals: {request: request } %>
    <% end %>
  <% else %>
    <% if @task.descriptors.empty? %>
      <p class="lead">No additional information required: this space left intentionally blank.</p>
    <% else %>
      <%= render partial: 'descriptor', collection: @task.descriptors, locals: {request: nil } %>
    <% end %>
  <% end %>
