
<%# We generate our own ids, as there appears to be a discrepency between the
    way label_tag and text_field handle spaces %>
<% field_id = "descriptor_#{descriptor_counter}_#{request&.id}" %>
<% base_field_name = request ? "requests[#{request.id}][descriptors]" : 'descriptors' %>

<tr>
  <td width='35%' class='request'><%= label_tag field_id, descriptor.name %>: <%= required_marker if descriptor.is_required? %></td>
  <td width='65%'>
    <% value = descriptor_value descriptor %>
    <% if descriptor.kind == 'Selection' %>
      <%= select_tag "#{base_field_name}[#{descriptor.name}]", options_for_select(descriptor.selection.values, value), id: field_id %>
    <% else %>
      <%= text_field "#{base_field_name}", descriptor.name, value: value, id: field_id %>
    <% end %>
  </td>
</tr>
