<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2013,2014,2015 Genome Research Ltd.%>

<table width="100%" cellspacing="0" cellpadding="0">
  <% if @task.per_item %>
    <% @batch.requests.sort_by{|r| r.batch_request.position}.each do |request| %>
    <tr>
      <td width='35%' class='item'>Name: </td>
      <td width='65%'>
        <strong>Asset:</strong>   <%= request.asset.name -%></br>
      </td>
    </tr>
      <%= render partial: 'descriptor', collection: @task.descriptors, locals: {request: request } %>
    <% end %>
  <% else %>
    <% if @task.descriptors.empty? or  @task.descriptors.first.name == "" %>
      <tr>
      <td colspan="2">No additional information required: this space left intentionally blank.</td>
      </tr>
    <% else %>
      <%= render partial: 'descriptor', collection: @task.descriptors, locals: {request: nil } %>
    <% end %>
  <% end %>
</table>


