
<%# We generate our own ids, as there appears to be a discrepency between the
    way label_tag and text_field handle spaces %>
<% field_id = "descriptor_#{descriptor_counter}_#{request&.id}" %>
<% base_field_name = request ? "requests[#{request.id}][descriptors]" : 'descriptors' %>

<div class="grid-form">
  <%= label_tag field_id, descriptor.name, class: descriptor.is_required? ? 'required' : '' %>
  <div class="field">
    <% if descriptor.kind == 'Selection' %>
      <%= select_tag "#{base_field_name}[#{descriptor.name}]", options_for_select(descriptor.selection.values, descriptor.value), id: field_id %>
    <% elsif descriptor.kind == 'Date' %>
      <%= date_field "#{base_field_name}", descriptor.name, value: descriptor.value, id: field_id %>
    <% else %>
      <%= text_field "#{base_field_name}", descriptor.name, value: descriptor.value, id: field_id %>
    <% end %>
  </div>
</div>
