<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<%= form_for @task, url: { action: "stage", id: @stage, workflow_id: @workflow.id, batch_id: @batch.id, next_stage: true }, html: { id: "stage_form"} do |form| %>

  <p class="info">Please select a plate type.</p>
<p>
<% plate_type_options = @task.get_subclass_attribute_options :plate_type_id
%>
Plate Type: <%= form.select :plate_type_id , plate_type_options[:choices].call, plate_type_options[:options] %>
</p>

<%= render partial: "next_stage_submit" %>
<% end %>

