<%#
  This partial renders a form group for a single radio button in a category.

  See the Rails docs for more details:
    https://apidock.com/rails/ActionView/Helpers/FormHelper/radio_button
    https://apidock.com/rails/ActionView/Helpers/FormHelper/label

  Inputs:
  - field_name: The name attribute for the radio button (see object_name).
  - category: The category or group the radio button belongs to (see method).
  - field_value: The value attribute for the radio button.
  - label_text: The text to display for the label.
  - options: Additional HTML options for the radio button (optional).
%>
<% options ||= {} %>

<div class="form-group form-row">
  <%= label(field_name, category, label_text, value: field_value, class: 'col-12 col-lg-8 col-form-label') %>
  <div class="col-12 col-lg-4">
    <%= radio_button(field_name, category, field_value, class: 'form-control text-right', **options) %>
  </div>
</div>
