<% options ||= {} %>

<div class="form-group form-row">
  <%= label_tag(field_name, label_text, class: 'col-12 col-lg-8 col-form-label') %>
  <div class="col-12 col-lg-4">
    <%= text_field_tag(field_name, field_value, class: 'form-control text-right', **options) %>
  </div>
</div>
