<% form_for @workflow, :url => { :action => "stage", :id => @stage, :workflow_id => @workflow.id, :batch_id => @batch.id, :next_stage => true }, :html => { :id => "stage_form"} do |form| %>
<p>For strobe sequencing, enter a comma separated list of numbers (5,20,4,3) in minutes. For standard enter a single number.</p>
<table id="smrt_cells_available" width="50%" class="sortable" cellpadding="2" cellspacing="0">
<thead>
<tr><th>Library Tube</th><th>Movie length (minutes)</th></tr>
</thead>
<tbody>
<% @assets.each do |asset| %>
  <tr>
    <td><%= label_tag( "asset[#{asset.id}]", "Movie length for #{asset.barcode}", :style => 'display:none;') %><%= asset.barcode %></td>
    <td><%= text_field_tag "asset[#{asset.id}]" %></td>
  </tr>
<% end%>
</tbody>
</table>

<%= render :partial => "next_stage_submit" %>

<% end %>
