<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<div class="next_step_task">
  <%= submit_tag('Next step', id: 'stage_button') %>
  <span id="stage_loading" style="display: none;"><%= image_tag "ajax-loader.gif", size: "10x10", alt: "Saving" %> Saving</span>
  <span id="stage_links"> or <%= link_to "cancel", batch_path(@batch) %></span>
</div>

<% if (check_selection ||= false) %>
<script type="text/javascript">
  (function($,undefined) {
    $('#stage_form').bind('submit', function() {
      var checkboxes = $('.sample_check:checkbox');
      if (checkboxes.length == 0) { return true; }
      if ($('.sample_check:checked').length == 0) {
        alert('Please select one or more items.');
        return false;
      }

      $('#stage_button').prop('disabled',true);
      $('#stage_links').hide();
      $('#stage_loading').show();
      return true;
    });
  })(jQuery);
</script>
<% end %>
