
<div class="next_step_task">
  <span id="stage_links">
    <% if @batch.released? %>
      <%= submit_tag('Update', id: 'update_button', disable_with: 'Saving') %>
    <% else %>
      <%= submit_tag('Next step', id: 'stage_button', disable_with: 'Saving') %>
    <% end %>
      or <%= link_to "cancel", batch_path(@batch) %>
  </span>
</div>

<% if (check_selection ||= false) %>
<%= javascript_tag nonce: true do %>

  (function($,undefined) {
    $('#stage_form').bind('submit', function() {
      var checkboxes = $('.sample_check:checkbox');
      if (checkboxes.length == 0) { return true; }
      if ($('.sample_check:checked').length == 0) {
        alert('Please select one or more items.');
        return false;
      }
      return true;
    });
  })(jQuery);

<% end %>
<% end %>
