<div class="next_step_task">
  <%= submit_tag('Next step', :id => 'stage_button') %>
  <span id="stage_loading" style="display: none;"><%= image_tag "ajax-loader.gif", :size => "10x10", :alt => "Saving" %> Saving</span>
  <span id="stage_links"> or <%= link_to "cancel", batch_path(@batch) %></span>
</div>

<% if (check_selection ||= false) %>
<script type="text/javascript">
  (function($, undefined) {
    $('#stage_button').click(function() {
      var checkboxes = $('.sample_check:checkbox');
      if (checkboxes.length == 0) { return true; }
      if ($('.sample_check:checked').length == 0) {
        alert('Please select one or more items.');
        return false;
      }

      $('#stage_button').disable();
      $('#stage_links').hide();
      $('#stage_loading').show();
      return true;
    });
  })(jQuery);
</script>
<% end %>
