<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2015 Genome Research Ltd.%>

<div class='automatic_sorting'>
  <h2>Automated Sorting</h2>
  <p>Automatic sorting will only move tubes from the unsorted tubes box. Wells already containing tubes will remain unmodified, and will not have tubes added to them.</p>
  <button id='one_cell_per_well' type='button'>One cell per well</button>
  <!-- <button id='pool_matching' type='button'>One well per tube</button> -->
  <button id='smart_multiplexing' type='button'>Smart multiplexing</button>
  <button id='clear_plate' type='button'>Clear plate</button>
</div>
