
<div class="interface_group">
  <label for="micro_litre_volume_required">Volume to pick:</label>
  <input type="number" id="micro_litre_volume_required" name="micro_litre_volume_required" min="0" required step=1 value=5>
</div>
