<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<%= form_for @workflow, :url => { :action => "stage", :id => @stage, :workflow_id => @workflow.id, :batch_id => @batch.id, :next_stage => true }, :html => { :id => "stage_form"} do |form| %>

<p>
  <label for="prep_kit_barcode">DNA Template Prep Kit Box Barcode</label>: <%=  text_field_tag "prep_kit_barcode" %>
</p>

<%= render :partial => "next_stage_submit" %>

<% end %>
