<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015,2016 Genome Research Ltd.%>

<%= form_for @workflow, url: { action: "stage", id: @stage, workflow_id: @workflow.id, batch_id: @batch.id, next_stage: true }, html: { id: "stage_form"} do |form| %>

<p>
  <label for="tag_group">Tag Group</label>: <%= select_tag("tag_group", options_for_select(@tag_groups.collect {|p| [ p.name, p.id ] }),class: 'form-control select2')  %>
</p>

<%= render partial: "next_stage_submit" %>

<% end %>
