<% form_for @workflow, :url => { :action => "stage", :id => @stage, :workflow_id => @workflow.id, :batch_id => @batch.id, :next_stage => true }, :html => { :id => "stage_form"} do |form| %>

<p>
  <label for="tag_group">Tag Group</label>: <%= select_tag("tag_group", options_for_select(@tag_groups.collect {|p| [ p.name, p.id ] }))  %>
</p>

<%= render :partial => "next_stage_submit" %>

<% end %>
