
<p>Either select a plate purpose for a new plate, or scan an existing plate:</p>
<div class="input-group">
  <label for="plate_purpose_id">Output plate purpose</label>
  <%= select_tag("plate_purpose_id", options_for_select(plate_purpose_options, PlatePurpose.stock_plate_purpose.id)) %>
  <button type="button" id="new_plate">New Plate</button>
</div>
<div class="input-group">
  <label for="existing_plate_barcode">Target Plate Barcode</label>
  <input type="text" id="existing_plate_barcode" name="existing_plate_barcode" placeholder="Scan an existing plate barcode">
</div>
