
<tr>
  <td style='text-align: center'>
    <%= task.name %>
    <% if current_user.is_admin? %>
    <br />
    <%= link_to 'edit', edit_task_url(task) %><br />
    <% end %>
  </td>
</tr>
<tr>
  <td style='text-align: center'>&darr;</td>
</tr>
