<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<tr>
  <td style='text-align: center'>
    <%= task.name %>
    <% unless task.families.empty? -%>
      &rarr; <%= task.families.collect {|family| family.name + ", "}.to_s.gsub /, $/, "" %>
    <% end %>
    <% if current_user.is_admin? %>
    <br />
    <%= link_to 'edit', edit_task_url(task) %><br />
    <% end %>
  </td>
</tr>
<tr>
  <td style='text-align: center'>&darr;</td>
</tr>
