<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, "Edit workflow" -%>
<% add :menu, "Back to all workflows" => workflows_path -%>

<h1>EDIT WORKFLOW: <%= @workflow.name %></h1>
<div class="content">
  <div class="info">
    Available workflows
  </div>

  <div id="sample">
    <%= form_for :workflow, url: workflow_path(@workflow), html: {method: :put} do |form| -%>
      <%= render partial: "workflow", locals: {read_only: false, form: form} %>
    <% end -%>
  </div>
</div>
