<% add :title, "Workflows" -%>
<% add :menu, "Create new workflow" => new_workflow_url -%>

<h1>WORKFLOWS</h1>
<%= render :partial => "workflows", :locals => { :title => "Available", :workflows => @workflows } %>
