<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, "Workflows" -%>
<% add :menu, "All workflows" => workflows_path -%>

<h1>CREATE NEW WORKFLOW</h1>
<div class="content">
  <div class="info">
  To create a new workflow, complete the form below. Required fields are marked with <%= required_marker %>.
  </div>
  <div id="sample">
    <%= form_for :workflow, url: workflows_path do |form| -%>
      <%= render partial: "workflow", locals: {read_only: false, form: form} %>
    <% end -%>
  </div>
</div>
