<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<% add :title, "Workflows" -%>
<% add :menu, "Back to workflow" => workflow_path(@workflow) -%>

<h1><%= @workflow.name %></h1>
<div class='info'>
  Drag the workflow tasks to reorder.
</div>
<div class='info'>
  <table width='100%'>
    <tr>
      <td style='text-align: center;'>
        START
      </td>
    </tr>
    <tr>
      <td style='text-align: center;'>
        &darr;
        <ul id="task_list" class="task_list">
          <% @workflow.tasks.each do |task| -%>
          <li class="task" id="task_<%= task.id %>"><%= task.name %></li>
          <% end -%>
        </ul>
        &darr;
      </td>
    </tr>
    <tr>
      <td style='text-align: center;'>
        FINISH
      </td>
    </tr>
  </table>
  <%= sortable_element 'task_list',
                        :url => { :action => "sort", :workflow_id => @workflow.id },
                        :complete => visual_effect(:highlight, 'task_list') %>
</div>
