<h1>Editing Bait Library</h1>

<% form_for(@bait_library) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "edit_form", :locals => {:f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', bait_libraries_path %>
