/* This is the canonical CSS file for Sequencescape. */
/* Please use it instead of screen.css which is deprecated. */
a {
  color: #0046BF;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color:#00158C;
}

#app_name {
  padding: 10px 0px 12px 8px;
  font-size: 8px;
  letter-spacing: 3px;
  float: left;
  text-shadow: 0 -1px 1px #00131C;
}

#search {
  float: right;
  text-align: right;
  font-size: 11px;
  padding-top: 4px;
  padding-right: 5px;
  text-shadow: 0 -1px 1px #00131C;
}

#tabs {
  float: left;

}

#tabs a, #tabs a:link, #tabs a:visited {
  text-decoration: none;
  color: #31353d;
  padding: 1px 15px 3px 15px;
  font-weight: bold;
  text-shadow:-1px 1px 1px rgba(102, 106, 109,0.4);
  -moz-transition:    all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition:         all 0.3s ease-in-out 0s;
}

#tabs a:hover {
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #066FA3;
  background: rgba(0, 69, 120,0.5);
  color: #fff;
  text-shadow:-1px 1px 1px rgba(102, 106, 109,1);
  behavior: url(/stylesheets/PIE.htc);
}

#tabs ul {
  padding-top: 1px;
}

#tab_bar {
  background: #aad4f4;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(100%, #aad4f4), color-stop(0%, #8CBCDF));
  background-image: -moz-linear-gradient(top, #aad4f4 0%, #8CBCDF 100%);
  background-image: linear-gradient(top, #aad4f4 0%, #8CBCDF 100%);
  -pie-background: linear-gradient(#aad4f4, #8CBCDF);
  clear:both;
  font-size: 12px;
  -moz-box-shadow: 1px 1px 2px 0 #C3CEDA;
  box-shadow: 1px 1px 2px 0 #C3CEDA;
  border-bottom: 1px solid #bbb;
  behavior: url(/stylesheets/PIE.htc);
}

#tab_content {
padding: 5px 10px 0px 10px;
}

#appTitle a,#appTitle a:link,#appTitle a:visited {
text-decoration: none;
color: #efefef;
}
#appTitle a:hover {
text-decoration: none;
color: #efefef;
}
#appTitle {
padding: 15px 0px 12px 10px;
}
#bd {
padding: 10px;
}
#comments a,#comments a:link,#comments a:visited {
color: #FF8000;
}
#content a,#content a:link,#content a:visited {
color: #000088;
text-decoration: none;
}
#content a:hover {
color: #0000ff;
}
#content {
padding: 0px;
}
#description {
float: left;
padding-left: 100px;
width: 30%;
}
#doc3 {
margin: 0px;
}
#ft a,#ft a:link,#ft a:visited {
color: #3e87b3;
text-decoration: none;
}
#ft a:hover {
color: #880000;
}
#ft {
font-size: 10px;
padding: 3px 0px 0px 10px;
line-height: 17px;
padding-bottom: 0px;
color: #666;
}

/* Adjustable based on the environment in which Sequencescape is running */
body #header {  /* Covers all environments not specifically identified (purples) */
  background: #A74A86;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(100%, #492255), color-stop(0%, #603E7D));
  background-image: -moz-linear-gradient(top, #613976 0%, #492255 100%);
  background-image: linear-gradient(top, #603E7D 0%, #492255 100%);
  -pie-background: linear-gradient(#603E7D , #492255);
  color: #fff;
  behavior: url(/stylesheets/PIE.htc);
}
body.production #header {  /* Specific for production environment (blues) */
  background: #3e87b3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(100%, #004578), color-stop(0%, #006BAF));
  background-image: -moz-linear-gradient(top, #006BAF 0%, #004578 100%);
  background-image: linear-gradient(top, #006BAF 0%, #004578 100%);
  -pie-background: linear-gradient(#006BAF, #004578);
  color: #fff;
  behavior: url(/stylesheets/PIE.htc);
}
body.production.failover #header {  /* Specific for production failover environment (blues) */
  background: #DF5D12;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(100%, #712106), color-stop(0%, #AF380C));
  background-image: -moz-linear-gradient(top, #A33C0C 0%, #712106 100%);
  background-image: linear-gradient(top, #AF380C 0%, #712106 100%);
  -pie-background: linear-gradient(#AF380C, #712106);
  color: #fff;
  behavior: url(/stylesheets/PIE.htc);
}

#header ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

#header li {
  display: inline;
}

#help {
background: #A0D6FC;
padding: 5px 5px 5px 10px;
font-size: 12px;
}
#horizontal_tabs a,#horizontal_tabs a:link,#horizontal_tabs a:visited {
border-top: 1px solid #666;
border-left: 1px solid #666;
border-right: 1px solid #666;
background: #efefef;
padding: 4px 4px 4px 4px;
margin-right: 2px;
}
#horizontal_tabs a,#horizontal_tabs a:link,#horizontal_tabs a:visited {
border-top: 1px solid #666;
border-left: 1px solid #666;
border-right: 1px solid #666;
border-bottom: 1px solid #666;
background: #d0d0d0;
padding: 4px 4px 4px 4px;
margin-right: 2px;
}
#horizontal_tabs a.selected,#horizontal_tabs a.selected:link,#horizontal_tabs a.selected:visited {
background: #ffffff;
border-bottom: 1px solid #fff;
font-weight: bold;
}
#horizontal_tabs a.selected,#horizontal_tabs a.selected:link,#horizontal_tabs a.selected:visited {
background: #ffffff;
font-weight: bold;
}
#horizontal_tabs li {
display: inline;
}
#horizontal_tabs ul {
padding: 0px;
margin: 0px;
list-style: none;
}
#horizontal_tabs {
padding-bottom: 3px;
border-bottom: 1px solid #666;
margin-bottom: 15px;
}
#institute {
position: relative;
left: 0px;
padding-left: 5px;
}
#links ul {
padding: 5px;
margin: 10px 0px 0px 0px;
list-style: none;
line-height: 20px;
border-top: 1px solid #aad4f4;
background: #d2e2f7;
color: #222931;
}
#logo_container {
background-color: transparent;
background-image: url(/images/logo_bg.png);
position: absolute;
top: 0px;
left: 0px;
margin-left: 5px;
padding: 0px 3px 3px 3px;
}
#main-items {
width: 475px;
float: left;
}
#main-links {
width: 190px;
float: right;
padding: 5px;
}
#menu {
margin-bottom: 10px;
font-size: 0.8em;
}
#message_error {
background: red;
border-color: 1px solid #76b900;
color: white;
}
#message_notice {
background: green;
border-color: 1px solid #d81f2a;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
box-shadow: 1px 1px 2px #C3CEDA;
-moz-box-shadow: 1px 1px 2px 0 #C3CEDA;
margin: 0 0 3px 0;
color: white;
  behavior: url(/stylesheets/PIE.htc);
}
#message_warning {
background: yellow;
border-color: 1px solid #fadf00;
color: black;
}
#qc_indent {
padding-left: 10px;
}
#quick_links a,#quick_links a:link,#quick_links a:visited {
color: #fff;
text-decoration: none;
}
#quick_links a:hover {
color: #ff0;
text-decoration: underline;
}
#quick_links.staging {
background: #000 url(/images/staging.png);
border-top: 3px solid #000;
font-weight: bold;
}
#quick_links {
background: #31353d;
color: #efefef;
font-size: 12px;
border-top: 3px solid #055694;
padding: 3px 10px 2px 10px;
}

#sequencescape_logo {
  width: 98px;
  height: 24px;
  padding: 5px 0px 0px 0px;
}

#user_links ul {
margin-top: 2px;
}
#user_links {
float: right;
width: 45%;
text-align: right;
margin-top: -3px;
}

.bar li {
display: inline;
}
.bar ul {
margin: 0px;
padding: 0px;
list-style: none;
}
.bullet {
color: #E85C00;
}

#yield h1 {
  margin: 0px;
}

#yield {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 10px 25px 10px;
  font-size: 12px;
  min-height: 600px;
  line-height: 17px;

  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;

  box-shadow: 0 1px 5px #D6E1EE;
  -moz-box-shadow: 0 1px 5px #D6E1EE;
  behavior: url(/stylesheets/PIE.htc);
}

.callout p {
  font-size: 10px;
  line-height: 14px;
}

.callout {
  border: 1px solid #aad4f4;
  box-shadow: 0 1px 5px #D6E1EE;
  -moz-box-shadow: 0 1px 5px #D6E1EE;

  margin-bottom: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #d2e2f7;
  color: #222931;
  padding: 5px;
  font-size: 12px;
  behavior: url(/stylesheets/PIE.htc);
}
.center {
text-align: center;
}
.complete {
font-weight: bold;
color: #000;
}
.failed {
color: #f00;
}
.fileDownload {
border: 2px solid #FC6;
background: white;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
width: 200px;
padding: 2px;
margin: 2px;
  behavior: url(/stylesheets/PIE.htc);
}

.flash {
  background: #6CF;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  border-top: 1px solid #57B2DF;
  border-left: 1px solid #57B2DF;
  border-right: 1px solid #57B2DF;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  display: block;
  line-height: 16px;
  font-size: 12px;
  behavior: url(/stylesheets/PIE.htc);
}

.helper {
font-size: 11px;
color: #666;
padding-left: 12px;
}

.help {
  background: #FBFFC7;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #FC6;
  color: #A65200;
  margin-bottom: 15px;
  behavior: url(/stylesheets/PIE.htc);
}

.info {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.loading {
text-align: center;
}
.notice {
border: 1px solid #f66;
padding: 5px;
margin-bottom: 7px;
background: #faa;
}
.popup li.divider {
margin-top: 3px;
padding-top: 3px;
border-top: 1px solid #CEDEF2;
}
.popup li {
line-height: 18px;
}
.popup ul {
margin: 0px;
padding: 0px;
list-style: none;
}
.popup_draghandle {
cursor: move;
}
.popup_link,a.popup_link {
cursor: pointer;
border-bottom: 1px dotted;
}
.popup {
max-width: 600px;
border-right: 1px solid #666;
border-bottom: 1px solid #666;
padding: 3px;
background-color: #fff;
font-size: 11px;
position: absolute;
}
.roweven {
background: #fff;
}
.rowodd {
  background:#F0F0F6;
}
.section {
margin: 5px 30px 15px 30px;
padding-bottom: 5px;
}
.sortasc {
font-weight: bold;
}
.sortcol {
}
.sortdsc {
font-weight: bold;
}
.task_list {
list-style: none;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}
.task {
margin: 15px auto 15px auto;
padding: 10px;
width: 230px;
border: 1px solid #d7d7d7;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Grande',helvetica,arial,sans-serif;
  color: #171717;
  background: #e3eefc;
}

h1 {
margin: 0px 0px 15px 0px;
padding: 0px;
font-size: 1.3em;

font-weight: bold;
}
h2 {
font-size: 1.2em;
font-weight: bold;
}

img {
border: 0px;
}
input#stage_button {
margin-top: 50px;
margin-left: 30px;
}

td.bar {
border-right: 1px solid #ccc;
border-left: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}
td.boxed_left {
margin-left: 0px;
padding: 5px;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}
td.boxed_right {
padding: 5px;
margin-right: 0px;
border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}
td.boxed_title {
font-size: 10px;
margin: 0px;
padding: 0px;
background: #ccc;
color: #fff;
}
td.center {
text-align: center;
}
td.complete {
color: #008000;
}
td.date,td.user {
color: #666;
font-size: 10px;
padding-top: 5px;
}
td.date {
font-size: 10px;
color: #666;
}
td.error {
background: #ffcccc;
padding: 10px;
}
tr.withdrawn {
background: #ffcccc;
}

span.error {
background: #ffcccc;
color: #800;
padding: 5px;
}
td.success {
background: #006600;
padding: 1px;
}
td.event {
padding-top: 3px;
padding-bottom: 5px;
}
td.exceeded {
color: #800;
}
td.faded {
color: #bbb;
}
td.filled {
background: #3e87b3;
}
td.help_field {
color: #666;
font-size: 11px;
}
td.item {
text-align: right;
padding-right: 15px;
line-height: 20px;
}
td.label,th.label,th.nosort {
border-bottom: 1px solid #888;
font-size: 10px;
}
td.label {
font-size: 10px;
vertical-align: top;
padding-top: 5px;
text-align: right;
}
td.last {
padding-right: 30px;
text-align: right;
}
td.left {
float: left;
}
td.name {
padding-left: 5px;
}
td.note {
padding-left: 5px;
font-size: 10px;
font-weight: bold;
}
td.request {
text-align: left;
font-size: 11px;
}
td.right {
text-align: right;
}
td.segment {
background: #d0d0d0;
}
td.separator {
padding: 10px;
}
td.sub {
padding-left: 30px;
}
td.summary,th.summary {
border-top: 1px solid #888;
font-size: 10px;
}
td.total {
border-top: 1px solid #ccc;
}


table.request-grid {
  width: 100%;
  border-collapse: collapse;
}

.request-grid th.order {
  width: 30px;
  text-align: left;
}

th.request-grid, td.request-grid {
  padding: 3px 5px;
  text-align: center;
}
tr.second_attempt {
color: #ff0000;
}
ul#qc_indent_sub {
padding-left: 10px;
margin-top: 2px;
margin-left: 5px;
maring-bottom: 2px;
}
ul#qc_indent {
list-style-type: circle;
padding-left: 10px;
margin-top: 2px;
margin-left: 5px;
maring-bottom: 2px;
}
ul#user_links {
padding-top: 0px;
}
ul {
list-style: square;
}

/* Plate table */
#plate table, td {
border-style: thin;
}
#plate table {
border-width: 1px;
border-spacing: 0;
border-collapse: collapse;
}
#plate td {
margin: 0;
padding: 4px;
border-width: 1px 1px 0 0;
background-color: #FFC;
}
#plate th, td#border {
text-align: center;
background-color: #6997BF;
font-weight: bold;
}
#plate td#normal {
text-align: center;
background-color: #E1E6FA;
}
td#yellow {
background-color: #F2F5A9;
}
td#red {
background-color: #F5A9A9;
}
td#green {
background-color: #D0F5A9;
}
td#orange {
background-color: orange;
}
#PicogreenResults div {
font-weight: bold;
padding: 5px;
}
div#missing {
border: 2px solid #E82E34;
background-color: #FFBCC2;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
  behavior: url(/stylesheets/PIE.htc);
}
div#available {
border: 2px solid #2FB81B;
background-color: #C5FFCB;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
  behavior: url(/stylesheets/PIE.htc);
}

table.bed_verification{
	width: 100%;
}

tr.destination{
	background-color: #ccc;
}

tr.qc_fail.roweven  {
  background-color: #caa;
}
tr.qc_fail.rowodd{
  background-color: #ffdddd;
}
tr.qc_pass.roweven  {
  background-color: #aca;
}
tr.qc_.roweven  {
  background-color: #ccc;
}
tr.qc_pass.rowodd{
  background-color: #ddffdd;
}
td.qc_fail  {
  color: #700;
}
td.qc_pass{
  color: #070
}
.selected {
background-color: #ff8;
}

#plate td.selected{
background-color: #72CF3F;
}
.newtemplate ul li{
display: inline;
padding-right: 20px;
text-decoration: none;
font-weight: bold;
}
.newtemplate ul{
padding-bottom: 20px;
}


.plate table, td {
border-style: thin;
}
.plate table {
border-width: 1px;
border-spacing: 0;
border-collapse: collapse;
}
.plate td {
margin: 0;
text-align: center;
padding: 4px;
border-width: 1px 1px 0 0;
background-color: #FFC;
color: #000;
}
.plate th, td.border {
text-align: center;
background-color: #6997BF;
font-weight: bold;
}
.plate td.normal {
text-align: center;
background-color: #E1E6FA;
}

.plate td.empty {
color: #777;
background-color:  #ccc;
}

.plate td { cursor: pointer; }
#source_plates td,
.plate td.normal,
.plate td.border { cursor: inherit; }

.plate td.control {
color: #fff;
background-color:  #0033CC;
}

.plate td.colour0 {
background-color:  #F5A9A9;
}
.plate td.colour1 {
background-color:  #F5D0A9;
}
.plate td.colour2 {
background-color:  #F2F5A9;
}
.plate td.colour3 {
background-color:  #D0F5A9;
}
.plate td.colour4 {
background-color:  #A9F5A9;
}
.plate td.colour5 {
background-color: #A9F5D0;
}
.plate td.colour6{
background-color: #A9F5F2;
}
.plate td.colour7 {
background-color: #A9D0F5;
}
.plate td.colour8{
background-color: #A9A9F5;
}
.plate td.colour9 {
background-color: #D0A9F5;
}
.plate td.colour10 {
background-color: #F5A9F2;
}
.plate td.colour11 {
background-color: #F5A9D0;
}


/* New style CSS plate this needs to slowly replace the existing table style */
.new-plate {
  -moz-box-shadow:    gray 0 1px 6px;
  -webkit-box-shadow: gray 0 1px 6px;
  box-shadow:         gray 0 1px 6px;

  -moz-border-radius:    15px;
  -webkit-border-radius: 15px;
  border-radius:         15px;

  -moz-border-radius-topleft:     0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius:         0;

  /* Use transparency for the background color or FF ridge will look bad... */
  border: 1px ridge rgba(11, 35, 75, 0.5);
  vertical-align: middle;
  text-align: center;
  background: #003557;
  padding: 0px;
  color: #fff;
  behavior: url(/stylesheets/PIE.htc);
}

.new-plate th {
  text-align: center;
}

.new-plate .well {
  height: 15px;
  min-width: 60px;
  padding:  15px 1px 15px 1px;
  text-align: center;
  border: 1px ridge rgba(5, 19, 40, 0.1);
  background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 100, color-stop(0%, #002a46), color-stop(100%, #003353));
  background: -webkit-radial-gradient(top left, #002a46, #003353);
  background: -moz-radial-gradient(top left, #002a46, #003353);
  background: -o-radial-gradient(top left, #002a46, #003353);
  background: -ms-radial-gradient(top left, #002a46, #003353);
  background: radial-gradient(top left, #002a46, #003353);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  behavior: url(/stylesheets/PIE.htc);
}

.new-plate select {
  font-size: 9px;
  width: 73px;
}
.plate_import{
  	padding: 2px;
	margin: 2px;
	list-style-type: none;
}
.plate_import li{
	padding: 1px;
}

td.comment {
  	padding: 5px;
	margin: 5px;
border-top: 1px solid #cdd;
  background-color: #eee;
}

td.commentable {
  color: #888;
  font-style: italic;
}
td.commentable a {
  color: #888;
  font-style: normal;
}

#events{
	margin-bottom: 15px;
}

.asset_comment{
  display: none;
  text-align: center;
}

#plate_purposes
{
  display: inline;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #B80000;
}

.asset_input_methods {
  align :center;
  text-align: center;
}

#asset_input_methods {
  align: center;
  margin: 10px;
  text-align: center;
	padding: 10px;
}

#submission_form #project_name_results {
  border: 1px solid #ccc;
  border-top: none;
}

/* fix for autocomplete menu size */
body.yui-skin-sam ul.ui-menu {
  font-size: 12px;
}

ul#orders {
  max-width: 950px;
  color:#333129;
  padding: 0;
  clear: both;
  margin: 15px 0;
	-moz-transition:    all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition:         all 0.3s ease-in-out 0s;
}


/* This overly verbose rule is needed to override formtastic styling  */
ul#orders li.order, ul#orders li.buttons, #order-template {
  padding: 15px;
  margin: 15px 0;
  color: #00498C;
  background: #fff;
  list-style: none outside none;
  text-align: right;
  position: relative;
}

ul#orders li.pane {
  border: 4px solid #014f93;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  opacity: 0.2;
  text-align: left;
  background: #fff;
  margin-bottom: 30px;
  behavior: url(/stylesheets/PIE.htc);
}

ul#orders li.pane .button {
}

ul#orders li.order .save-buttons {
  position: absolute;
  bottom: -20px;
  right: 10px;
}


ul#orders li.completed {
	border-color: #017903;
	background: #EBFFEB;
	color:#017802;
  opacity: 0.95;
}

ul#orders li.active {
  opacity: 1;
  -moz-box-shadow: 0 2px 5px #C3CEDA;
  box-shadow:     0 2px 5px #C3CEDA;
}

ul#orders  li.order.invalid {
  border-color: #920000;
}

ul#orders .errors li {
  color: #920000;
}

#orders span.badge {
	display: none;
  position: absolute;
	width: 35px;
  line-height: 35px;
  font-size: 	 25px;
	top:  -18px;
	right: -18px;
	text-align: center;
	border-radius: 35px;
	-moz-border-radius: 35px;
	color: white;
	text-shadow: 0 -1px 0 #002800;
	box-shadow: 0 1px 3px #aaaaaa;
	-moz-transition:    all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition:         all 0.3s ease-in-out 0s;
  font-family: 'MS Mincho', 'Lucida Sans Unicode', 'Symbol';
  behavior: url(/stylesheets/PIE.htc);
}

ul#orders li.completed span.completed {
	background:	#017903;
  background: -moz-radial-gradient(top left, cover, hsl(120, 59%, 35%) 0%, hsl(120, 59%, 12%) 100%);
  background: -webkit-radial-gradient(top left, cover, hsl(120, 59%, 35%) 0%, hsl(120, 59%, 12%) 100%);

	display: block;
}
ul#orders li.invalid span.invalid {
	background:	#920000;
	background: -moz-radial-gradient(top left, cover, #B60000 0%, #710000 100%);
	background: -webkit-radial-gradient(top left, cover, #B60000 0%, #710000 100%);
	display: block;
}

#orders li#order-template {
}

ul#orders li#blank-order {
  display: none;
}

ul#orders li table {
  width: 100%;
}


ul#orders li th {
  text-align: right;
}

ul#orders ul.sub-panel {
  padding: 0;
}

ul#orders ul.sub-panel li {
  opacity: 1;
  border: 2px solid #DBDBDB;
  margin: 10px 0;
  border-radius: 8px;
  -moz-border-radius: 8px;

  padding: 15px;
  list-style: none outside none;
  position: relative;
}

#orders ul.sub-panel .assets {
  height: 120px;
}

#orders h2, #orders h3 {
  position: absolute;
  top: -25px;
  left: 10px;
  padding: 0 4px;
  background: inherit;
  background: #fff;
}

#orders h3 {
  left: 5px;
}

#orders li.active h2, #orders li.active h3 {
  text-shadow: 0 1px 0px hsl(211, 24%, 81%);
}


#orders li.completed h3, #orders li.completed textarea, #orders li.completed input:not(.delete-order) {
	background: #EBFFEB;
}

#orders .comments {
  width: 100%;
}

div.sub-panel {
  border: 2px solid hsl(0, 0%, 86%);
  border-radius: 8px;
  padding: 0 15px 15px;
  margin: 15px;
}

h2.error {
  color: #920000;
}

ul#orders ul.errors li {
  width: 100%;
  border: none;
  padding: 0px;
  box-shadow: none;
  height: auto;
  width: auto;
  float: none;
  opacity: 1;
  position: initial;
}

ul#orders > li.buttons {
  padding: 0;
  margin-top: 30px;
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #395F94, 0 1px 3px #999;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0066B8), color-stop(1, #00498C) );
  background:-moz-linear-gradient( center top, #0066B8 5%, #00498C 100% );
  background-color:#00498C;
  position: relative;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius: 6px;
  border:1px solid #002C5C;
  display:inline-block;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  padding:4px 15px;
  text-decoration:none;
  text-shadow: 0px -1px 0px #1B3752;
  -moz-transition:    all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition:         all 0.5s ease-in-out 0s;
  behavior: url(/stylesheets/PIE.htc);
}

.button:hover {
  color: #E5E68E;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00498C), color-stop(1, #004390) );
  background:-moz-linear-gradient( center top, #00498C 5%, #004390 100% );
}
.button.final {
  border-color: #1C7C00;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(102, 100%, 21%)), color-stop(1, hsl(120, 100%, 14%)) );
  background: -moz-linear-gradient( center top, hsl(102, 100%, 21%) 5%, hsl(120, 100%, 14%) 100% );
  background-color: #1C7C00;
}

.button.final:hover {
  color: #FAF9F5;
  background-color: #1C7C00;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(120, 100%, 14%)), color-stop(1, hsl(120, 100%, 16%)) );
  background: -moz-linear-gradient( center top, hsl(120, 100%, 14%) 5%, hsl(120, 100%, 16%) 100% );

}

.button[disabled] {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  background:#ACACAC;

  border-color:#6E6E6E;
  text-shadow:none;
  color: #ddd;
  opacity: 0.2;
  behavior: url(/stylesheets/PIE.htc);
}

.button[disabled]:hover {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  background:#ACACAC;

  border-color:#6E6E6E;
  text-shadow:0px 0px 0px #528ecc;
  color: #ddd;
}




#asset_input_methods td { vertical-align: top; }
#asset_input_methods td.separator { vertical-align: middle; }

label.required:after {
  content: " \00BB"; /* &raquo; */
  color: #880000;
}
.sample_row.disabled, .sample_row.disabled input {
  background-color: #ddd;
}

#slf fieldset{
  display: inline;
  vertical-align:text-top;
  width: 30%;
}


div.auto_complete { 
  width:100%; 
  background: #fff;
  z-index: 250;
  border: 1px solid gray;
}

div.auto_complete ul { 
  border:1px solid 888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none; 
}

div.auto_complete ul li {
  margin:0;
  padding:3px;
}

div.auto_complete ul.li.selected {
  background-color: #ffb;
}

div.auto_complete ul strong.highlight { 
  color: #800;
  margin:0;
  padding:0;
}

#pick_by_nano_grams_per_micro_litre{
}

#pick_by_nano_grams{
}

#plate_purpose_box{
	clear:both;
	margin-bottom: 30px;
}

.next_step_task{
  	clear:both;
		margin: 30px;
}

td.yellow {
background-color: #F2F5A9;
}
td.red {
background-color: #F5A9A9;
}
td.green {
background-color: #D0F5A9;
}
td.orange {
background-color: orange;
}

#default-values fieldset {
  clear:both;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #C0C0C0;
  background:#F4F4F4;
  background-image: -moz-linear-gradient(top,#F2F2F2,#fff, #F2F2F2);
  behavior: url(/stylesheets/PIE.htc);
}

div.characterisation {
  clear:both;
  padding: 0 15px 8px 15px;
  margin: 0 10px 20px 10px;
  display:inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #C0C0C0;
  background: #EBF4FF;
  background-image: -moz-linear-gradient(top,#DFE7EF,#F1F8FF, #DFE7EF);
  color: #3F3F3F;
  behavior: url(/stylesheets/PIE.htc);
}

div.characterisation h2 {
  color:#222;
}

div.characterisation fieldset{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #C0C0C0;
  behavior: url(/stylesheets/PIE.htc);
}

#activity-logging {
  width: 100%;
  border: none;
}
tr.duplicate-error {
  background: #FFB0B0 !important
}
tr.duplicate-error td {
  background: #FFB0B0 !important
}

#increment-tags-info {
  right:0;
}

.options_group {
  border: 1px solid #bbbbbb;
  box-shadow: 0 1px 5px #E1E1E1;
  -moz-box-shadow: 0 1px 5px #E1E1E1;
  margin: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #e2e2e2;
  color: #000000;
  padding: 1em;
  behavior: url(/stylesheets/PIE.htc);
}

ul.options {
  list-style: none;
  margin:0;
}
ul.options label {
  font-weight: bold;
}
ul.options li {
  margin:0.3em;
}
}
