body {
  width: 17cm;
}

hr {
	page-break-after: always;
}

table  { font-size: 11pt; }
thead tr th  { border-bottom: thin solid black; }
.field { border: 1px solid #d0d0d0; }

div.sample {
  	border-bottom: 1px solid #ff0000;
}

#header{
	display: block;	
	font-size: 10pt;
}
#header h1{
	
}

#batchbarcode{
	position: absolute;
	top: 5px;
	right:5px;
}

#footer{
	font-size: 8pt;
	padding:5px;
}

#plate_details h2{
	font-size: 12pt;
}

.plate_layout{
	border-spacing: 0px;
	padding: 5px;
}

.plate_layout td{
	border: 1px solid #000000;
	margin:1px;
	text-align:center;
}

.plate_layout th{
	border: 1px solid #000000;
	margin:1px;
}

.plate_layout td.control {
color: #fff;
background-color:  #0033CC;
}

.plate_layout td.colour0 {
background-color:  #F5A9A9;
}
.plate_layout td.colour1 {
background-color:  #F5D0A9;
}
.plate_layout td.colour2 {
background-color:  #F2F5A9;
}
.plate_layout td.colour3 {
background-color:  #D0F5A9;
}
.plate_layout td.colour4 {
background-color:  #A9F5A9;
}
.plate_layout td.colour5 {
background-color: #A9F5D0;
}
.plate_layout td.colour6{
background-color: #A9F5F2;
}
.plate_layout td.colour7 {
background-color: #A9D0F5;
}
.plate_layout td.colour8{
background-color: #A9A9F5;
}
.plate_layout td.colour9 {
background-color: #D0A9F5;
}
.plate_layout td.colour10 {
background-color: #F5A9F2;
}
.plate_layout td.colour11 {
background-color: #F5A9D0;
}

.tr_hiseq {
background-color: #ffff77;
}