body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Grande', helvetica, arial, sans-serif;
  background: #002A3A;
}

div#container {
  margin: 100px auto;
  width: 620px;
}

div#logo {
  border: 10px solid #fff;
}

div.flash {
  padding: 7px;
  margin-bottom: 5px;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
}

div.intro {
	font-size: 11px;
	color: #656565;
	padding: 5px 0px;
}

div#account_box {
  padding: 10px 10px 10px 40px;
}

div#content {
  background: #fff;
  font-size: 13px;
  border-bottom: 1px solid #0088BA;
}

#message_notice {
  background: green;
  border-color: 1px solid ##d81f2a;
  color: white;
}

#message_warning {
  background: yellow;
  border-color: 1px solid #fadf00;
  color: black;
}

#message_error {
  background: red;
  border-color: 1px solid #76b900;
  color: white;
}
