<% add :menu, "All reports" => study_reports_path() %>
<h1>Qc Reports for <%= @user.login %></h1>

<%= will_paginate @study_reports %>
<%= render :partial => 'shared/study_reports', :locals => { :study_reports => @study_reports} %>
<%= will_paginate @study_reports %>
