
<% add :menu, "All reports" => study_reports_path() %>
<div class="page-header"><h1>Qc Reports for <%= @user.login %></h1></div>

<%= pagination @study_reports %>
<%= render partial: 'shared/study_reports', locals: { study_reports: @study_reports} %>
<%= pagination @study_reports %>
