<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :menu, "All reports" => study_reports_path() %>
<h1>Qc Reports for <%= @user.login %></h1>

<%= pagination @study_reports %>
<%= render partial: 'shared/study_reports', locals: { study_reports: @study_reports} %>
<%= pagination @study_reports %>
