
<h3>Actions</h3>
<input type="hidden" id="underrun" value="<%= @batch.underrun %>" />
<% if @batch.has_limit? -%>
  <input type="hidden" id="batch_item_limit" value="<%= @batch.item_limit %>" />
<% end -%>
<div class="info">
  <ul>
    <% @batch.workflow.tasks.each_with_index do |task, index| -%>
    <li><%= link_to task.name, controller: :workflows, action: :stage, id: index, batch_id: @batch.id, workflow_id: @batch.workflow.id %></li>
    <% end -%>
    <% unless @batch.pending? -%>
      <li><%= link_to "Fail batch or items", action: "fail", id: @batch.id %></li>
    <% end %>
  </ul>
</div>
