<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2013,2015 Genome Research Ltd.%>

<h3>Actions</h3>
<input type="hidden" id="underrun" value="<%= @batch.underrun %>" />
<% if @batch.has_limit? -%>
  <input type="hidden" id="batch_item_limit" value="<%= @batch.item_limit %>" />
<% end -%>
<div class="info">
  <ul>
    <% @batch.workflow.tasks.each_with_index do |task, index| -%>
    <li><%= link_to task.name, controller: :workflows, action: :stage, id: index, batch_id: @batch.id, workflow_id: @batch.workflow.id %></li>
    <% end -%>
    <% unless @batch.pending? -%>
      <li><%= link_to "Fail batch or items", action: "fail", id: @batch.id %></li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  function check_count_before_start(){
    var item_limit = $('#batch_item_limit').val();
    var underrun = $('#underrun').val();
    var mod = Math.abs(underrun);

    if ($('#batch_item_limit')) {
      if (underrun > 0) {
        alert('Batch size is limited to ' + item_limit + '.  Please edit the batch and add ' + mod + ' or more libraries before continuing');
        return false;
      }

      else if (underrun < 0) {
        alert('Batch size is limited to ' + item_limit + '.  Please edit the batch and remove ' + mod + ' or more libraries before continuing');
        return false;
      }

      else if (underrun == 0) {
      return true;
      }
    }
    else {
      return true;
    }
  }
</script>
