<% if commentable.comments.count >0 %>
<table width="100%" cellpadding="5" cellspacing="5">
  <col align=left width=80% />
  <tbody>
    <% commentable.comments.each do |comment| %>
      <tr>
      <td class="comment"> <%= comment.description %></td>
      <td class="commentable"> added <%= h(comment.created_at.to_formatted_s(:short)) %> on <%= link_to "#{commentable.class.name} #{commentable.id}", "#{configatron.studies_url}/#{resource}/#{commentable.id}/comments" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
