<h3>Data Release</h3>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" class="item"><%= form.label :enforce_data_release, "Enforce data release policy" %>:</td>
    <td width="60%"><%= form.check_box :enforce_data_release %></td>
  </tr>
  <tr>
    <td width="40%" class="item"><%= form.label :enforce_accessioning, "Enforce accession numbers" %>:</td>
    <td width="60%"><%= form.check_box :enforce_accessioning %></td>
  </tr>
</table>
