<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<table width="100%" cellspacing="5" cellpadding="0">
  <col align="right" width="40%"/>
  <col align="left" width="60%"/>
<% field_infos.each do |field| %>
  <tr>
    <td align="right">
      <label for="<%=field_info_label(path, field)%>"><%= field.display_name %></label> :
    </td>
    <td>
      <%= render partial: "shared/fields/#{field.kind.downcase}_edit.html.erb", locals: { field: field, path: path} %>
    </td>
  </tr>
<% end %>
</table>
