<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<% item.external_properties.each do |property| %>
<tr>
  <td class="item"><%= property.key %>:</td>
  <td><strong><%= property.value %></strong></td>
</tr>
<% end %>
