<h3>Financial approval</h3>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" class="item"><%= form.label :approved, "Approved" %>:</td>
    <td width="60%"><%= form.check_box :approved %></td>
  </tr>
  <tr>
   <td width="40%" class="item"><%= form.label :state, "State" %>:</td>
   <td width="60%"><%= form.select :state, Study.aasm_states_for_select %></td>
  </tr>
</table>
