<div class='critical'>
  Requests for reads greater than 54bp in length should only be made in consultation with the <%= link_to 'sequencing administrators', "mailto:#{configatron.sequencing_admin_email}" %>. They are not recommended for long insert libraries.
</div>
