<div class="sidebar-links">
  <% if @menu -%>
  <ul id="base-Menu" class="link-list">
    <%= render partial: '/item', collection: @menu.items %>
  </ul>
  <% end -%>

  <% if @back_menu -%>
  <ul id="back_menu" class="link-list">
    <%= render partial: '/item', collection: @back_menu.items %>
  </ul>
  <% end -%>
</div>

<% if @legend -%>
  <%= panel(:default) do %>
    <ul id="legend" class="link-list">
      <%= render partial: '/item', collection: @legend.items %>
    </ul>
  <% end %>
<% end -%>
