
<div><label for="barcode_printer_list" style="display:none">Barcode Printer</label></div>
  <select name="barcode_printer" id="barcode_printer" class="form-control select2">
    <% @barcode_printers.each do |printer| %>
      <option value="<%= printer %>"><%= printer %></option>
    <% end %>
  </select>

