
<% add :manager_option, "New Project" => new_project_path -%>

<%= pagination @projects %>
<table class="sortable table table-striped" id="summary">
  <thead>
    <tr>
      <th><a>Name</a></th>
      <th><a>State</a></th>
    </tr>
  </thead>
<tbody>
<% for project in @projects %>
  <tr>
    <td><%= link_to  "#{project.name}", project%></td>
    <td><%= project.state %></td>
  </tr>
<% end %>
</tbody>

</table>
<%= pagination @projects %>
<br />
