
<% add :manager_option, "New Project" => new_project_path -%>

<table class="sortable table table-striped" id="summary" data-paging="true">
  <thead>
    <tr>
      <th><a>Name</a></th>
      <th><a>State</a></th>
    </tr>
  </thead>
<tbody>
<% @projects.pluck(:id,:name,:state).each do |id, name, state| %>
  <tr>
    <td><%= link_to name, project_path(id)%></td>
    <td><%= state %></td>
  </tr>
<% end %>
</tbody>

</table>
<br />
