<% add :manager_option, "New Project" => new_project_path -%>

<%= will_paginate @projects %>
<table width="100%" class="sortable" id="summary">
  <tr>
    <th class="label">Name</th>
    <th class="label">State</th>
  </tr>

<% for project in @projects %>
  <tr>
    <td><%= link_to  "#{project.name}", project%></td>
    <td><%=h project.state %></td>
  </tr>
<% end %>

</table>
<%= will_paginate @projects %>
<br />
