<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2013 Genome Research Ltd.%>
<% add :manager_option, "New Project" => new_project_path -%>

<%= will_paginate @projects %>
<table width="100%" class="sortable" id="summary">
  <tr>
    <th class="label">Name</th>
    <th class="label">State</th>
  </tr>

<% for project in @projects %>
  <tr>
    <td><%= link_to  "#{project.name}", project%></td>
    <td><%=h project.state %></td>
  </tr>
<% end %>

</table>
<%= will_paginate @projects %>
<br />
