<% add :menu, "New Project" => new_project_path -%>

<%= will_paginate @projects %>

<% for project in @projects %>
  <h2><%= link_to  "#{project.name}", project%></h2>
  <%= render :partial => "projects/workflows/quotas/all", :locals => {:project => project, :workflow => @workflow} %>
<% end %>

<%= will_paginate @projects %>
<br />
