
<table class="table">
  <thead>
    <tr>
      <th>Index&nbsp;</th>
      <th>Expected Sequence</th>
    </tr>
  </thead>
  <tbody>
  <% for tag in tags %>
    <tr>
      <td><%=h tag.map_id %></td>
      <td><%=h tag.oligo %></td>
    </tr>
  <% end %>
  </tbody>
</table>
