<li>
<%= panel do %>
  <h3 class="card-title"><%= event_request.asset ? h(event_request.asset.display_name) : "<nil>" %></h3>
  <%= render partial: 'event', collection: event_request.lab_events_for_batch(@batch) %>
<% end %>
</li>
