<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<li><strong><%= event_request.asset ? h(event_request.asset.display_name) : "<nil>" %></strong></li>
<ul>
<%= render partial: 'event', collection: event_request.lab_events_for_batch(@batch) %>
</ul>
