<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<li><%= event.description %></li>
<ul>
  <% event.descriptors.each do |descriptor|%>
  <li><%= descriptor.name %>: <%= descriptor.value %></li>
  <% end %>
  <% if @batch  and task=@batch.task_for_event(event) %>
    <% task.sub_events_for_event(event).each do |ev| %>
      <%= render partial: 'event', locals: {event: ev} %>
    <% end %>
  <% end %>
</ul>
