<% table_class ||= '' %>
<table class="sortable table table-striped table-dense-information <%= table_class %>" id="pipeline_inbox">
  <thead>
    <%= render partial: 'requests_header' %>
  </thead>
  <tbody>
    <%= render partial: 'request', collection: requests -%>
  </tbody>
</table>


<%= javascript_include_tag 'pipeline.js' %>
