<% table_class ||= '' %>
<table class="sortable table table-striped table-dense-information <%= table_class %>"
       data-page-length="100"
       id="pipeline_inbox">
  <thead>
    <%= render partial: 'requests_header' %>
  </thead>
  <tbody>
    <%= render partial: 'request', collection: requests -%>
  </tbody>
</table>

<%= vite_javascript_tag 'pipeline.js' %>
