

<% add :back_menu, "Back to pipeline" => pipeline_path(@pipeline) -%>

<div class="page-header"><h1>All batches for <%= @pipeline.name %> pipeline</h1></div>
<div class="content">
  <%# No pagination above the partial, as already included in shared batches %>
  <%= render partial: "shared/batches", locals: {batches: @batches, in_progress: false, showing_all: true, batch_state: 'normal' } %>
  <%= pagination @batches %>
</div>
