<% add :title, "Pipelines" -%>
<% add :menu, "All pipelines" => pipelines_url -%>

<% if @pipeline.active? -%>
  <% add :admin_option, "Deactivate pipeline" => {:action => "deactivate", :id => @pipeline.id} -%>
<% else -%>
  <% add :admin_option, "Activate pipeline" => {:action => "activate", :id => @pipeline.id} -%>
<% end -%>

<h1>EDIT PIPELINE <%= @pipeline.name %></h1>
<div class="content">
  <div class="info">
  Required fields are marked with <%= required_marker %>.
  </div>
  <div id="sample">
    <% form_for :pipeline, :url => pipeline_path(@pipeline), :html => {:method => :put} do |form| -%>
      <%= render :partial => "pipeline", :locals => {:read_only => false, :form => form} -%>
    <% end -%>
  </div>
</div>
