

<% add :menu, "Create Plate Barcodes" => new_plate_path -%>
<% if can? :read, SampleLogisticsController %>
  <% add :menu, "Sample Management" => sample_logistics_path -%>
<% end %>
<% add :menu, "Create PhiX controls" => phi_x_path -%>

<%= page_title "Pipelines", "Available pipelines" %>

<div class="card-columns">
  <% if current_user.pipelines.active.present? %>
    <%= render partial: 'pipelines', locals: { title: 'Your Most Recent', pipelines: current_user.pipelines.active, style: 'feature' } %>
  <% end %>
  <% @grouping.each do |group_name, pipelines| %>
    <%= render partial: 'pipelines', locals: { title: group_name, pipelines: pipelines, style: 'standard' } %>
  <% end %>
</div>
