

<% add :menu, "Create Plate Barcodes" => new_plate_path -%>
<% if current_user.slf_manager? || current_user.slf_gel?|| current_user.manager_or_administrator? %>
  <% add :menu, "Sample Management" => sample_logistics_path -%>
<% end %>
<% if current_user.lab_manager? %>
  <% add :menu, "Create controls" => new_asset_path -%>
<% end %>

<%= page_title "Pipelines", "Available pipelines" %>

<div class="card-columns">
  <% if current_user.pipelines.active.present? %>
    <%= render partial: 'pipelines', locals: { title: 'Your Most Recent', pipelines: current_user.pipelines.active, style: 'feature' } %>
  <% end %>
  <% @grouping.each do |group_name, pipelines| %>
    <%= render partial: 'pipelines', locals: { title: group_name, pipelines: pipelines, style: 'standard' } %>
  <% end %>
</div>
