<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<% add :title, "Pipelines" -%>
<% add :menu, "All pipelines" => pipelines_url -%>

<h1>EDIT PIPELINE <%= @pipeline.name %>: STEP 2 OF 2 CHOOSE INPUT</h1>
<div class="content">
  <div class="info">
  Choose a control sample.
  </div>
  <div class="info">
    <table width="100%" cellspacing="0" cellpadding="0">
      <%= form_tag(:controller => :pipelines, :action => :set_inbox, :id => @pipeline.id ) do -%>
        <tr>
          <td width="35%" class="item">Control samples: </td>
          <td width="65%">
            <%= select_tag("controls[]", options_for_select(@controls.map {|c| [c.name, ["#{c.name}, #{c.id}"]]}), {:multiple => true, :size => "3", :style => "width:175px;margin-left:2px;"}) %>
          </td>
        </tr>
        <tr>
          <td width="35%" class="item">&nbsp;</td>
          <td width="65%"><input type="submit" value="Set input" /> or <%= link_to "cancel", pipeline_url(@pipeline) %></td>
        </tr>
      <% end -%>
    </table>
  </div>
</div>
