<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<%- add :title, "Comments" %>
<%- add :back_menu, "back to pipeline" => pipeline_url(@pipeline) %>
<h1> <%= @group_name%> : Comments</h1>
<h2>Assets</h2>
<% @assets.each do |asset| %>
  <%= render :partial => "shared/comments", :locals => {:commentable => asset, :resource => "assets"} %>
<% end %>
<h2>Requests</h2>
<% @requests.each do |request| %>
  <%= render :partial => "shared/comments", :locals => {:commentable => request, :resource => "requests"} %>
<% end %>
