<%- add :title, "Comments" %>
<%- add :back_menu, "back to pipeline" => pipeline_url(@pipeline) %>
<h1> <%= @group_name%> : Comments</h1>
<h2>Assets</h2>
<% @assets.each do |asset| %>
  <%= render :partial => "shared/comments", :locals => {:commentable => asset, :resource => "assets"} %>
<% end %>
<h2>Requests</h2>
<% @requests.each do |request| %>
  <%= render :partial => "shared/comments", :locals => {:commentable => request, :resource => "requests"} %>
<% end %>
