<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, "Finished batch" -%>
<% unless @batch.released? -%>
<% add :menu, "Release this batch" => release_batch_url(@batch) -%>
<% end -%>
<% add :back_menu, "Back to pipeline" => pipeline_path(@batch.pipeline) -%>

<h1>BATCH SUMMARY</h1>
<div class="content">
  <div class="info">
  Summary of stored information for Batch <%= @batch.id %>.
  </div>
  <div id="sample">
    <%= render partial: 'event_requests'%>
  </div>
</div>
