
<%= alert(:info) do %>
  <%= link_to "Need labwhere support? Click here", labwhere_receptions_path, class: 'alert-link' %>
  <p>It is no longer necessary to select an asset type prior to scanning in barcodes.</p>
<% end %>
<div class="help">
  Samples should be labeled with the unique sample id using a machine printed label. <br />At least 5&mu;g DNA at > 10ng/&mu;l should be supplied in a 1.5ml eppendorf tube.
</div>

