
<% add :about, "Resources reception point" -%>
<% add :menu, "Resource lookup" => assets_lookup_path -%>
<% add :back_menu, "Back to pipelines" => pipelines_path -%>

<%= page_title "Reception", "Legacy" %>
<%= deprecate_section(
   date: DateTime.parse('20191026'),
   message:'<p class="lead">The preferred method of registering samples is labwhere reception</p>
  <ul>
    <li>Provides fine grained tracking of labware, right down to the shelf or box</li>
    <li>Location integrates with Sequencescape, to make it easy to find tube or plates</li>
    <li>Accepts all barcode types</li>
    <li>Doesn\'t force you to be logged in, Ideal for shared computers</li>
    <li>No limits on the number of entries scanned in.</li>
  </ul>
  <p>If the location you are scanning plate into is not barcoded, leave the location box blank.</p>
  <p>If you are unable to use the newer page, please let us know as soon as possible.</p>'.html_safe,
   replaced_by: labwhere_receptions_path) do %>
  <%= render partial: "scan_barcodes", locals: { message: 'scan_message', num_text_boxes: @num_text_boxes } %>
<% end %>
