<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, "Resources reception point" -%>
<% add :menu, "Resource lookup" => assets_lookup_path -%>
<% add :menu, "SNP Import" => "/assets/snp_import" -%>
<% add :back_menu, "Back to pipelines" => pipelines_path -%>

<h1>Reception</h1>
<%= render partial: "scan_barcodes", locals: { message: 'scan_message', num_text_boxes: @num_text_boxes, receive_barcode: "receive_barcode"} %>
