<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<% add :title, "SNP Import" -%>
<% add :menu, "Resource lookup" => assets_lookup_path -%>
<% add :back_menu, "Back to pipelines" => pipelines_path -%>

<h1>SNP Import</h1>

<div class="content">
  <% unless @errors.nil? %>
  <table class="error">
    <% @errors.each do |error| %>
    <tr><td class="error"><%= error %></td></tr>
    <% end %>
  </table>
  <% end %>
  <div id='form'>
    <div id='message'>
      <p>Enter plate IDs (1 per line)</p>
    </div>
    <br />
    <%= form_for :asset, :url => { :action => :receive_snp_barcode } do |f| %>
    <ul class="plate_import">
      <li><%= text_area_tag "barcodes", nil, :rows => 20 %></li>
      <li><%= submit_tag "Submit" %></li>
    </ul>
    <% end %>
  </div>
</div>
