<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="<%= aker_jobs_path %>">Aker Jobs</a></li>
    <li class="breadcrumb-item active" aria-current="page">Job <%= @job.aker_job_id %></li>
  </ol>
</nav>

<section class='job'>
  <%= render partial: 'job', locals: {aker_job: @aker_job, job: @job } %>
</section>

<a class="btn btn-default" href="<%= aker_jobs_path %>">Back</a>
