<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% @request.format_qc_information.each do |event| %>
  <tr>
    <td>
      <% if event["status"] == "pass" %>
        <span style="color: green; font-weight: bold;">
      <% elsif event["status"] == "fail" %>
        <span style="color: red; font-weight: bold;">
      <% end %>
      <%= event["message"] %></span>
    </td>
    <td><%= event["created_at"].to_formatted_s(:day_full_with_time) %></td>
    <td><%= link_to "Remove", action: :reset_qc_information, id: @request.id, event_id: event["event_id"] if current_user.administrator? %></td>
  </tr>
<% end %>
