<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% unless @projects.empty? %>
  <div id='project_list'>
    <%= form_tag(edit_admin_projects_path, remote: true, id: "project_form", class: 'remote-form observed', data: { update: "#project_editor", throbber: '#update_loader'} ) do %>
      <p>Found <%= pluralize @projects.size, "project" %></p>
      <%= select_tag :id, options_from_collection_for_select(@projects, :id, :name), prompt: 'Select a project...'  %>
    <% end %>

    <div id='project_editor'>
      <!-- Editor goes here -->
    </div>
  </div>
<% else %>
  No projects.
<% end %>
