/*
 * Import all the required style-sheets. We use SASS,so that we can use bootstrap
 * Note we don't use wild-cards/globbing to ensure we can control load order and to avoid importing
 * eg .orig files
 */
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "@fortawesome/fontawesome-free";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "all/bootstrap_variables";
@import "all/datatables-bootstrap";
@import "bootstrap";
@import "@formtastic/formtastic";
@import "all/sequencescape";
@import "all/colours";
@import "all/header";
@import "all/footer";
@import "all/sidebar";
@import "all/search";
@import "all/page_specific_hacks";
@import "all/sessions";
@import "all/misc_buttons";
@import "all/pipelines_pages";
@import "all/components";
@import "all/uat_actions";
@import "all/comments_box";
@import "all/tag-substitutions";
@import "all/asset_audits";
@import "codemirror/lib/codemirror";
@import "codemirror/theme/eclipse";
