<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<table width='100%' class='sortable'>
  <thead>
    <tr>
      <th width='20%'>Relationship type</th>
      <th width='60%'>Study</th>
      <th width='20%'>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @relations.each do |r_study, r_name| %>
      <tr>
        <td><%=r_name %></td>
        <td><%= link_to "#{(r_study.name or "").titleize}", study_url(r_study) %></td>
        <td>
          <% if current_user.is_manager?(@study) | current_user.is_manager?(@r_study) %>
          <%= button_to "Remove", unrelate_study_study_path(id: @study, related_study: {relation_type: r_name, study_id: r_study.id }) %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
 </table>
