
<div>
  <%= form_tag grant_role_study_path(@study), remote: true, data: { update: "#role_list"}, class: 'form-inline remote-form' do -%>
    <div class="form-group">
      <label for="role_user" class="m-2">Select a user</label>
      <%= select "role", "user", @users.map {|r| [r.name_and_login, r.id]}, { prompt: true }, { class: 'select2 mx-2' } %>
    </div>
    <div class="form-group">
      <label for="role_authorizable_type" class="m-2">then assign a role</label>
      <%= select "role", "authorizable_type", @all_roles, { prompt: true }, { class: 'select2 mx-2' }  %>
    </div>
    <%= submit_tag "Add role" %>
  <% end -%>
</div>
