<div style="text-align:center">
  <% form_remote_tag :url => grant_role_study_path(:id => @study), :update => "role_list" do -%>
    <label for="role_user">Select a user</label> <%= select "role", "user", @users.map {|r| [r.name, r.id]}, { :prompt => true } %>&nbsp;
    <label for="role_authorizable_type">then assign a role</label> <%= select "role", "authorizable_type", @all_roles.map {|r| [r.name, r.name]}.compact, { :prompt => true,  } %>
    <%= submit_tag "Add role" %>
  <% end -%>
</div>
