<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<% add :title, I18n.t("studies.about") -%>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_path(@study) -%>

<h1>Edit <%= @study.name %></h1>

<p>Edit your study. Required fields are marked with <%= required_marker %>.</p>

<div id="study">
  <%= form_for :study, :url => study_path(@study), :html => {:method => :put, :multipart => true} do |form| %>
    <%= render :partial => "study", :locals => {:read_only => false, :creation => false, :form => form, :study => @study} %>
  <% end %>
</div>
