<% add :title, I18n.t("studies.about") -%>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_path(@study) -%>

<h1>Edit <%= @study.name %></h1>

<p>Edit your study. Required fields are marked with <%= required_marker %>.</p>

<div id="study">
  <% form_for :study, :url => study_path(@study), :html => {:method => :put, :multipart => true} do |form| %>
    <%= render :partial => "study", :locals => {:read_only => false, :creation => false, :form => form, :study => @study} %>
  <% end %>
</div>
