<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015,2016 Genome Research Ltd.%>

<%- add :title, I18n.t("studies.about") %>
<%- add :manager_option, "Create Study" => new_study_path %>
<%- add :manager_option, "Create Project" => new_project_path %>
<%- add :manager_option, "Start a Bulk Submission" => {controller: "/bulk_submissions", action: "new"} %>
<%- add :manager_option, "Start a New Submission" => new_submission_path %>
<%- add :manager_option, "Submissions Inbox" => submissions_path %>

<% if params[:scope] %>
  <%= page_title 'Studies', @alternatives[params[:scope].to_i] %>
<% else %>
  <%= page_title "Studies", "By Group" %>
<% end %>


<% if @studies.empty? && params[:scope].nil?-%>
  <%= display_user_guide(I18n.t('studies.guidance.nothing_interesting'), new_study_path) %>
<% end -%>
<div class='grouper' id='studies'>
  <%= render partial: "study_groups", locals: {scope: params[:scope]}  %>
</div>
