
<% add :about, I18n.t("studies.about") -%>

<%= page_title "Study", "Create" %>

<p class="lead">To register a new study, complete the form below. Required fields are marked with <%= required_marker %>.</p>

<div id="study">
  <%= form_for @study, html: {multipart: true } do |form| %>
    <%= render partial: "study", locals: {read_only: false, creation: true, form: form, study: @study} %>
  <% end %>
</div>
