<script type="text/javascript">
  SCAPE.submission.order_valid = true;
  SCAPE.submission.id          = <%= @presenter.submission.id %>;
</script>

<h2>Order Saved!</h2>

<%= submit_tag "♻ Delete Order",
  :class    => "delete-order button"
%>

