<h2 class="error">Sorry, this Order cannot be saved due to
  <%=  pluralize(@presenter.order.errors.count, "error") %>
</h2>
<ul class="errors">
  <%# Validations seem to be run twice... -%>
  <% @presenter.order.errors.full_messages.uniq.each do |error_message| -%>
    <li><%= error_message %></li>
  <% end -%>
</ul>

