<script type="text/javascript">
  SCAPE.submission.order_valid = true;
  SCAPE.submission.id          = <%= @presenter.submission.id %>;
</script>

<h2>Order Saved!</h2>
<h2>Note: submission now built!</h2>
<div class="save-buttons">
  <%= hidden_field_tag :order_id,
    @presenter.order.id,
    :class => 'order-id' %>

  <%= submit_tag "♻  Delete Order",
    :class    => "delete-order button"
  %>
</div>

