<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2011,2012,2015 Genome Research Ltd.%>

<%- add :title, "Editing a saved Submission" -%>
<%- add :manager_option, "Submissions Inbox" => submissions_path -%>


<h1>Edit Submission</h1>
<%= render partial: 'orders' %>

<script type="text/javascript">
  (function(window, $, undefined) {
   "use strict";

   // Check for the SCAPE namespace object.
   if (window.SCAPE == undefined) window.SCAPE = {};

   // Used for redirecting if we delete the last order on the submission.
   SCAPE.submissions_inbox_url = <%= submissions_url.inspect %>;

   })(window, jQuery);
</script>
<%=  %>

