
<%- add :about, "Editing a saved Submission" -%>
<%- add :manager_option, "Submissions Inbox" => submissions_path -%>


<div class="page-header"><h1>Edit Submission</h1></div>
<%= render partial: 'orders' %>

<%= javascript_tag nonce: true do %>

  (function(window, $, undefined) {
   "use strict";

   // Check for the SCAPE namespace object.
   if (window.SCAPE == undefined) window.SCAPE = {};

   // Used for redirecting if we delete the last order on the submission.
   SCAPE.submissions_inbox_url = <%= submissions_url.inspect %>;

   })(window, jQuery);

<% end %>
<%=  %>
