
<%- add :about, "Editing a saved Submission" -%>
<%- add :menu, "Submissions Inbox" => submissions_path if can?(:read, Submission) -%>


<div class="page-header"><h1>Edit Submission</h1></div>
<%= render partial: 'orders' %>

<%= legacy_javascript_tag do %>

  (function(window, $, undefined) {
   "use strict";

   // Check for thewindow.SCAPE namespace object.
   if (window.SCAPE == undefined) window.SCAPE = {};

   // Used for redirecting if we delete the last order on the submission.
  window.SCAPE.submissions_inbox_url = <%= submissions_url.inspect %>;

   })(window, jQuery);

<% end %>
<%=  %>
