<%- add :title, "Starting a new Submission" -%>
<%- add :manager_option, "<strong>Submissions Inbox</strong>" => submissions_path -%>


<h1>New Submission</h1>


<%= render :partial => 'orders' %>

<script type="text/javascript">
  (function(window, $, undefined){
    "use strict";

    // Check for the SCAPE object.  This is the only place in the global
    // namespace we should be storing things.
    if (window.SCAPE == undefined) window.SCAPE = {};

    <% if @presenter.study_id.present? -%>
      SCAPE.submission.study_id = <%= @presenter.study_id %>;
    <% end -%>
  })(window, jQuery);
</script>
