<% add :title, "This page lists the un-built submissions containing orders for a study." -%>

<h1>Submissions containing orders for study: <%= @study.name %></h1>
<%= render :partial => "list", :locals =>
  { :submissions => @submissions } %>

