
<% add :about, "This page lists the un-built submissions containing orders for a study." -%>

<div class="page-header"><h1>Submissions containing orders for study: <%= @study.name %></h1></div>
<%= render partial: "list", locals:
  { submissions: @submissions } %>

