<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<div style="text-align:center">
  <%= form_tag :url => grant_role_project_path(:id => @project), :update => "role_list", :remote => true do -%>
    <label for="role_user">Select a user</label> <%= select "role", "user", @users.map {|r| [r.name, r.id]}, { :prompt => true } %>&nbsp;
    <label for="role_authorizable_type">then assign a role</label> <%= select "role", "authorizable_type", @all_roles.map {|r| [r.name, r.name]}.compact, { :prompt => true,  } %>
    <%= submit_tag "Add role" %>
  <% end -%>
</div>
