<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% @roles.each do |role| %>
  <h2><%= role.users.size > 1 ? role.name.humanize.pluralize : role.name.humanize %></h2>
    <ul>
      <% role.users.each do |user| %>
        <li>
          <%= link_to user.name, profile_path(user) %> (<%= user.login %>)
          <% if current_user.administrator? %>
            <%= remote_button "Remove", remove_role_project_path(id: @project, role: {user: user.id, authorizable_type: role.name}), { update: "#role_list" }, {class: 'btn btn-danger'} %>
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>
