
<% if can? :administer, @project %>
  <% add :menu, "Manage" => admin_project_path(@project) -%>
<% end %>
<% add :menu, "Back to projects" => projects_path -%>
<div class="page-header"><h1>Editing project</h1></div>
<p>Edit your project. Required fields are marked with <%= required_marker %>.</p>

<%= render partial: "project_form" %>
