
<% add :menu, "Back to project" => project_path(@project) -%>
<div class="page-header"><h1>Studies for project <%= @project.name %></h1></div>
<%= render partial: "studies/study_list",  locals: {studies: @studies} %>
