<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="<%= aker_work_orders_path %>">Aker Work Orders</a></li>
    <li class="breadcrumb-item active" aria-current="page">Work Order <%= @work_order.aker_id %></li>
  </ol>
</nav>

<section class='work-order'>
  <%= render partial: 'work_order', locals: {aker_work_order: @aker_work_order, work_order: @work_order } %>
</section>

<a class="btn btn-default" href="<%= aker_work_orders_path %>">Back</a>
