<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <% @summaries.each do |key, description| %>
        <% selected = summary == key ? 'active' : '' %>
        <li>
          <%= link_to description,
                      show_summary_study_information_path(@study, { summary: key }.merge(@extra_params.to_h)) + "##{key}",
                      class: [selected, 'nav-link'],
                      remote: true,
                      data: {
                        throbber: '.loading-bar-container',
                        failure: '#remote_error',
                        update: '#everything',
                        toggle: 'tab'
                      },
                      id: "tab-link-#{key}"
          %>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= loading_bar(classes: 'px-3') %>
    <%= remote_error %>
    <div id="everything"></div>
  </div>
</div>

<%= vite_javascript_tag 'tab_anchor' %>
