<div>
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <% @summaries.each do |key, description| %>
        <% selected = summary == key ? 'active' : '' %>
        <li>
          <%= link_to description,
                      show_summary_study_information_path(@study, { summary: key }.merge(@extra_params.to_h)) + "##{key}",
                      class: [selected, 'nav-link'],
                      remote: true,
                      data: {
                        throbber: '#items-loader',
                        failure: '#remote_error',
                        update: '#items',
                        toggle: 'tab'
                      },
                      id: "tab-link-#{key}"
          %>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= loading_bar('items-loader', classes: 'px-3') %>
    <%= remote_error %>
    <div id="items"></div>
  </div>
</div>

<%# Uses javascript from app/frontend/legacy/ajax_handling.js %>
