<% key = 'scrna_core_pbmc_donor_pooling_required_number_of_cells' %>
<table width="100%" cellspacing="0" cellpadding="0" class="property_group_general">
  <tr>
    <td class="item" width="40%"><%= 'scRNA Core PBMC donor pooling required number of cells' %>:</td>
    <td width="60%"><%= @study.poly_metadatum_by_key(key)&.value || 'Not specified' %></td>
  </tr>
</table>