development: &DEV
  urls:
    work_orders: http://localhost:3000/api/v1
  bunny:
    broadcast: true
    host: 1.2.3.4
    vhost: test
    user: sequencescape 
    password: password

staging:
  <<: *DEV

test:
  <<: *DEV
  bunny:
    broadcast: false

production:
  <<: *DEV
