development: &DEV
  urls:
    work_orders: http://localhost:3000/api/v1
  material_mapping: |
     sample_metadata.supplier_name       <=   supplier_name
     sample_metadata.sample_public_name  <=   supplier_name
     sample_metadata.sample_taxon_id     <=   taxon_id
     sample_metadata.gender              <=   gender
     sample_metadata.donor_id            <=   donor_id
     sample_metadata.phenotype           <=   phenotype
     sample_metadata.sample_common_name  <=   scientific_name
     volume                               =>  volume
     concentration                        =>  concentration
     amount                               =>  amount
staging:
  <<: *DEV

test:
  <<: *DEV

production:
  <<: *DEV
