# SQLite version 3.x
#   gem install sqlite3-ruby (not necessary on OS X Leopard)

# To enable developers to have their own development setup per repository clone we allow them to stick
# the suffix they want attached to any database names in the suffix file in the root of the project.
<% suffix = if ENV['SUFFIX']
              "_#{ENV['SUFFIX']}"
            else
              "_#{File.read(Rails.root.join('database_suffix'))}".strip rescue nil
            end %>

mysql: &MYSQL
  adapter: mysql2
  username: <%= ENV.fetch('DBUSERNAME','root') %>
  password: <%= ENV['DBPASSWORD'] %>
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  properties:
    characterSetResults: utf8mb4
  pool: 5
  timeout: 5000
  reaping_frequency: 600
  host: <%= ENV.fetch('DBHOST', '127.0.0.1') %>
  port: <%= ENV.fetch('DBPORT','3306') %>
  variables:
    sql_mode: TRADITIONAL
    # This improbably large value mimics the global option for production
    # Without this things fall back to 1024 (At least with my setup) which
    # is too small for larger pools.
    group_concat_max_len: 67108864

# https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#how-to-use-the-classic-autoloader-in-rails-6
development:
  <<: *MYSQL
  database: sequencescape_development<%= suffix %>
  pool: 1

  # indentation is deliberate!
  development_warehouse: &warehouse
    <<: *MYSQL
    database: warehouse_development<%= suffix %>
    pool: 1

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.

test2: &test
  <<: *MYSQL
  database: sequencescape_test<%= ENV['TEST_ENV_NUMBER'] %><%= suffix %>
  pool: 1
  timeout: 5000

cucumber: &cucumber
  <<: *MYSQL
  database: sequencescape_test<%= ENV['TEST_ENV_NUMBER'] %><%= suffix %>_cuke
  pool: 5
  timeout: 25000

test:
  <<: *cucumber

# We need to have some dummy configuration here when the app is being packaged up (vite:build),
# because the initializers are run.
# The config will be overwritten when the app is deployed.
production:
  <<: *MYSQL

# These other connections are exported during deploy, from:
# ssh://git/repos/git/psd/config/private.git/
### Staging
### Next release
### Training
### Production
