<% if @plate_creator && @created_plates && @created_plates.size > 0 %>
  <% if @asset_groups && @asset_groups.size > 0 %>
    <% @asset_groups.each do |asset_group| %>
      <div class="alert alert-success">
        <p>
          Created the following Asset Group:
          <%= link_to asset_group.name,
                      print_study_asset_group_path(
                        id: asset_group.id,
                        study_id: asset_group.study_id) %>
          (in Study '<%= asset_group.study.name %>')
        </p>
        <p>
          Go to the Asset Group in future to reprint the barcode labels.
        </p>
      </div>
    <% end %>
  <% end %>
  <table class="table table-sm table-success table-bordered">
    <caption>Created labware</caption>
    <thead>
    <tr>
      <th scope="col">Source Tube Barcode</th>
      <th scope="col">Destination Plate Barcode</th>
    </tr>
    </thead>
    <tbody>
    <% @created_plates.each do |entry| %>
      <% entry[:source].each do |tube| %>
        <tr>
          <td scope="row"><%= tube.barcodes.first.barcode unless tube.nil? %></td>
          <% entry[:destinations].each do |destination| %>
            <td><%= destination.barcodes.first.barcode %></td>
          <% end %>
        </tr>
    <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>