<%= link_panel(style,title:"Latest Batches") do %>
  <% if latest_batches.present? %>
    <div class="card-body">
      <h4>Owned batches</h4>
      <p>Your most recent owned batches</p>
    </div>
    <% latest_batches.each do |batch| -%>
      <%= batch_link(batch, class: "list-group-item") %>
    <% end -%>
  <% end %>
  <% if assigned_batches.present? %>
    <div class="card-body">
      <h4>Assigned batches</h4>
      <p>The most recent batches assigned to you. This excludes any you may have taken ownership of.</p>
    </div>
    <% assigned_batches.each do |batch| -%>
      <%= batch_link(batch, class: "list-group-item") %>
    <% end -%>
  <% end %>
<% end %>
