<%= link_panel(style, title:"Latest Studies") do %>
  <div class="card-body">
    <p>The most recent studies which you are watching or managing</p>
  </div>
  <% studies.each do |study| -%>
    <%= study_link(study, class: "list-group-item") %>
  <% end -%>
<% end %>
