<%= link_panel(style,title:"Latest Submissions") do %>
  <div class="card-body">
    <p>The most recent submissions made under your user-account</p>
  </div>
  <% submissions.each do |batch| -%>
    <%= submission_link(batch, class: "list-group-item") %>
  <% end -%>
<% end %>
