/*
Source: https://getbootstrap.com/docs/4.6/examples/floating-labels

- removed page styling
- removed vendor prefixes
- removed Edge fallback
- add !importants
*/

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: 0.75rem !important;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::placeholder {
  color: transparent !important;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem !important;
  padding-bottom: 0.25rem !important;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  font-size: 12px;
  color: #777;
}

.form-label-group input:-webkit-autofill ~ label {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  font-size: 12px;
  color: #777;
}
