/* This is the canonical CSS file for Sequencescape. */
body {
  @extend .min-vh-100;
  @extend .d-flex;
  @extend .flex-column;
}

li a:visited {
  color: #444488;
}

// Utility class for negative margin-bottom
.mb--3 {
  margin-bottom: -1rem !important;
}

#main-content {
  @extend .container-fluid;
}

#main-footer {
  @extend .container-fluid;
  @extend .mt-auto;
}

#page-content {
  @extend .col-md-10;
}

#menu {
  @extend .col-md-2;
  @extend .mt-3;
}

.page-header {
  h1 {
    @extend .display-4;
    .subtitle {
      @extend .text-muted;
      @extend .font-weight-light;
      font-size: 50%;
    }
    .title-badge {
      font-size: 50%;
    }
  }
  h1.title-long {
    font-size: 2rem;
  }
}

.batch-statuses {
  @extend .card;
}

// The default bootstrap size is uncomfortably large
h3.card-header-custom {
  @extend .card-header;
  font-size: 1.1rem;
}
.tabbed-panel {
  @extend .card;
  header {
    @extend .card-header;
  }
  ul {
    @extend .nav;
    @extend .nav-tabs;
    @extend .card-header-tabs;
  }
}

.simple-inline-form {
  @extend .form-group;
  @extend .form-inline;
  label {
    @extend .mr-2;
  }
}

#error_messages {
  background-color: #ff7070;
  padding: 2em;
  margin: 1em;
  border: 3px solid red;
  border-radius: 20px;
  display: none;
}

.show-hide {
  float: right;
}

.release-batch {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-lg;
}

.alert-submission_warning {
  @extend .alert-danger;
  h4 {
    @extend .alert-heading;
  }
  a {
    @extend .alert-link;
  }
}

.alert-user_guide {
  @extend .alert-info;

  a {
    @extend .alert-link;
  }
  @extend .row;
  &:before {
    @extend .fas;
    padding-right: 0.5em;
    font-size: 30px;
    float: left;
    content: fa-content($fa-var-info-circle);
  }
}

// Remove margins between stacked alerts, but keep bottom margin on the last one
.alert:not(:last-child) {
  @extend .mb-0;
}

.alert-error,
.alert-alert {
  @extend .row;
  &:before {
    @extend .fas;
    padding-right: 0.5em;
    font-size: 30px;
    content: fa-content($fa-var-exclamation-circle);
  }
}

.alert-notice {
  @extend .row;
  &:before {
    @extend .fas;
    padding-right: 0.5em;
    font-size: 30px;
    content: fa-content($fa-var-check-circle);
  }
}

.alert-error ul {
  margin: 0;
}

.alert-notice,
.alert-passed {
  @extend .alert-success;
}
.alert-error,
.alert-alert,
.alert-failed {
  @extend .alert-danger;
}
.alert-pending {
  @extend .alert-warning;
}
.alert-started {
  @extend .alert-primary;
}
.alert-cancelled {
  @extend .alert-warning;
}
.text-notice,
.text-passed {
  @extend .text-success;
}
.text-error,
.text-alert,
.text-failed {
  @extend .text-danger;
}
.text-pending {
  @extend .text-muted;
}
.text-started {
  @extend .text-primary;
}
.text-cancelled {
  @extend .text-warning;
}

.errorExplanation {
  @extend .alert;
  @extend .alert-danger;
  h2 {
    @extend .h5;
    @extend .alert-heading;
  }
}

div.quota {
  @extend .card;
  @extend .bg-info;
  @extend .text-white;
  @extend .mb-3;
  @extend .mt-3;
  a {
    @extend .card-link;
  }
  // color: #333;
  // padding-left: 3px;
  // background: #CBDCEF;
  // border: 1px solid #7BBDD8;
}

.grid-form {
  @extend .form-group;
  @extend .row;
  label {
    @extend .col-sm-2;
    @extend .col-form-label;
  }
  div.field {
    @extend .col-sm-10;
    input,
    textarea {
      @extend .form-control;
    }
    select {
      @extend .custom-select;
    }
    .form-help {
      @extend .text-muted;
    }
  }
}

.phi-x-form {
  @extend .form-group;
  @extend .row;
  label {
    @extend .col-sm-4;
    @extend .col-form-label;
  }
  div.field {
    @extend .col-sm-8;
    input {
      @extend .form-control;
    }
    select {
      @extend .custom-select;
    }
    .form-help {
      @extend .text-muted;
    }
  }
  .field_with_errors {
    @extend .col-sm-4;
    @extend .p-0;
  }
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
}

.receptacle-list {
  @extend .list-group;
  a {
    @extend .list-group-item;
  }
}

.pick-list-list {
  @extend .list-group;
  a {
    @extend .list-group-item;
    @extend .list-group-item-action;
    time {
      @extend .text-muted;
      @extend .px-2; // Pad left and right
    }
  }
}

.barcode_list {
  @extend .list-group;
  li {
    @extend .list-group-item;
    @extend .d-flex;
    @extend .justify-content-between;

    &:before {
      @extend .fas;
      padding-right: 0.5em;
      font-size: 30px;
      float: left;
      content: fa-content($fa-var-barcode);
    }

    a {
      @extend .btn;
      @extend .btn-danger;
      @extend .btn-sm;
      @extend .text-white;
    }
  }
}

#search {
  float: right;
  text-align: right;
  font-size: 11px;
  padding-top: 4px;
  padding-right: 5px;
  text-shadow: 0 -1px 1px #00131c;
}

#tabs {
  float: left;
}

#tabs a,
#tabs a:link,
#tabs a:visited {
  text-decoration: none;
  color: #31353d;
  padding: 1px 15px 3px 15px;
  font-weight: bold;
  text-shadow: -1px 1px 1px rgba(102, 106, 109, 0.4);
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#tabs a:hover {
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #066fa3;
  background: rgba(0, 69, 120, 0.5);
  color: #fff;
  text-shadow: -1px 1px 1px rgba(102, 106, 109, 1);
}

#tabs ul {
  padding-top: 1px;
}

table#plate-samples-table .well_location {
  width: 5em;
}

#tab_content {
  padding: 5px 10px 0px 10px;
}

#appTitle a,
#appTitle a:link,
#appTitle a:visited {
  text-decoration: none;
  color: #efefef;
}
#appTitle a:hover {
  text-decoration: none;
  color: #efefef;
}
#appTitle {
  padding: 15px 0px 12px 10px;
}

#comments a,
#comments a:link,
#comments a:visited {
  color: #ff8000;
}
#content a,
#content a:link,
#content a:visited {
  color: #000088;
  text-decoration: none;
}
#content a:hover {
  color: #0000ff;
}
#content {
  padding: 0px;
}
#description {
  float: left;
  padding-left: 100px;
  width: 30%;
}

#ft a,
#ft a:link,
#ft a:visited {
  color: #3e87b3;
  text-decoration: none;
}
#ft a:hover {
  color: #880000;
}
#ft {
  font-size: 10px;
  padding: 3px 0px 0px 10px;
  line-height: 17px;
  padding-bottom: 0px;
  color: #666;
}

#help {
  background: #a0d6fc;
  padding: 5px 5px 5px 10px;
  font-size: 12px;
}
#main-items {
  width: 475px;
  float: left;
}
#main-links {
  width: 190px;
  float: right;
  padding: 5px;
}

#qc_indent {
  padding-left: 10px;
}

#user_links ul {
  margin-top: 2px;
}
#user_links {
  float: right;
  width: 45%;
  text-align: right;
  margin-top: -3px;
}

.bar li {
  display: inline;
}
.bar ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.bullet {
  color: #e85c00;
}
.center {
  text-align: center;
}
.complete {
  font-weight: bold;
  color: #000;
}
.failed {
  color: #f00;
}

.helper {
  font-size: 11px;
  color: #666;
  padding-left: 12px;
}

.help {
  @extend .alert;
  @extend .alert-secondary;
}

table.sample_list td:first-child {
  text-align: right;
  padding-right: 0.5em;
}

.info {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.card {
  break-inside: avoid-column;
}

.columnize .info {
  @extend .card;
}

.columnize {
  column-count: 2;
  @extend .mb-3;
}

.loading {
  text-align: center;
}
.mw-12em {
  max-width: 12em;
}
.mw-15em {
  max-width: 15em;
}
.notice {
  border: 1px solid #f66;
  padding: 5px;
  margin-bottom: 7px;
  background: #faa;
}
.popup li.divider {
  margin-top: 3px;
  padding-top: 3px;
  border-top: 1px solid #cedef2;
}
.popup li {
  line-height: 18px;
}
.popup ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.popup_draghandle {
  cursor: move;
}
.popup_link,
a.popup_link {
  cursor: pointer;
  border-bottom: 1px dotted;
}
.popup {
  max-width: 600px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 3px;
  background-color: #fff;
  font-size: 11px;
  position: absolute;
}
.section {
  margin: 5px 30px 15px 30px;
  padding-bottom: 5px;
}
.sortasc {
  font-weight: bold;
}
.sortdsc {
  font-weight: bold;
}

.task_list {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.task {
  margin: 15px auto 15px auto;
  padding: 10px;
  width: 230px;
  border: 1px solid #d7d7d7;
}

img {
  border: 0px;
}
input#stage_links {
  @extend .m-3;
}

td.bar {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
td.boxed_left {
  margin-left: 0px;
  padding: 5px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
td.boxed_right {
  padding: 5px;
  margin-right: 0px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
td.boxed_title {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  background: #ccc;
  color: #fff;
}
td.center {
  text-align: center;
}
td.complete {
  color: #008000;
}
td.date,
td.user {
  color: #666;
  font-size: 10px;
  padding-top: 5px;
}
td.date {
  font-size: 10px;
  color: #666;
}
td.error {
  padding: 10px;
  @extend .table-danger;
}
tr.withdrawn {
  @extend .table-danger;
}

span.error {
  background: #ffcccc;
  color: #800;
  padding: 5px;
}
td.success {
  background: #006600;
  padding: 1px;
}
td.event {
  padding-top: 3px;
  padding-bottom: 5px;
}
td.exceeded {
  color: #800;
}
td.faded {
  color: #bbb;
}
td.filled {
  background: #3e87b3;
}
td.help_field {
  color: #666;
  font-size: 11px;
}
td.item {
  text-align: right;
  padding-right: 15px;
  line-height: 20px;
}
td.label,
th.label,
th.nosort {
  border-bottom: 1px solid #888;
  font-size: 10px;
}
td.label {
  font-size: 10px;
  vertical-align: top;
  padding-top: 5px;
  text-align: right;
}
td.last {
  padding-right: 30px;
  text-align: right;
}
td.left {
  float: left;
}
td.name {
  padding-left: 5px;
}
td.note {
  padding-left: 5px;
  font-size: 10px;
  font-weight: bold;
}
td.request {
  text-align: left;
  font-size: 11px;
}
td.right {
  text-align: right;
}
td.segment {
  background: #d0d0d0;
}
td.separator {
  padding: 10px;
}
td.sub {
  padding-left: 30px;
}
td.summary,
th.summary {
  border-top: 1px solid #888;
  font-size: 10px;
}
td.total {
  border-top: 1px solid #ccc;
}

.resource_summary {
  @extend .col-md-6;

  table {
    @extend .table;
    @extend .table-summary;
    @extend .table-sm;
  }
}

.asset_summary {
  @extend .resource_summary;
}

.sample_summary {
  @extend .card;
  table {
    width: 100%;
  }
}

table.request-grid {
  width: 100%;
  border-collapse: collapse;
}

.request-grid th.order {
  width: 30px;
  text-align: left;
}

th.request-grid,
td.request-grid {
  padding: 3px 5px;
  text-align: center;
}
tr.second_attempt {
  color: #ff0000;
}
ul#qc_indent_sub {
  padding-left: 10px;
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: 2px;
}
ul#qc_indent {
  list-style-type: circle;
  padding-left: 10px;
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: 2px;
}
ul#user_links {
  padding-top: 0px;
}
ul {
  list-style: square;
}

/* Plate table */
div#missing {
  border: 2px solid #e82e34;
  background-color: #ffbcc2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
div#available {
  border: 2px solid #2fb81b;
  background-color: #c5ffcb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

table.bed_verification {
  width: 100%;
}

table.detailed {
  width: 100%;
}

tr.destination {
  background-color: #ccc;
}
tr.control {
  background-color: #eee;
}

tr.qc_fail.roweven {
  background-color: #caa;
}
tr.qc_fail.rowodd {
  background-color: #ffdddd;
}
tr.qc_pass.roweven {
  background-color: #aca;
}
tr.qc_.roweven {
  background-color: #ccc;
}
tr.qc_pass.rowodd {
  background-color: #ddffdd;
}
td.qc_fail {
  color: #700;
}
td.qc_pass {
  color: #070;
}
.selected {
  background-color: #ff8;
}

#plate td.selected {
  background-color: #72cf3f;
}
.newtemplate ul li {
  display: inline;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
}
.newtemplate ul {
  padding-bottom: 20px;
}

table.plate {
  border-collapse: separate;
  border-spacing: 2px;
}
.plate table,
td {
  border-style: thin;
}
.plate table {
  border-width: 1px;
  border-spacing: 0;
  border-collapse: collapse;
}
.plate td {
  margin: 0;
  text-align: center;
  padding: 4px;
  border-width: 1px 1px 0 0;
  background-color: #f0f0f0;
  color: #000;
  width: 5em;
}
.plate td:first-of-type,
.plate td:last-of-type {
  width: 2rem;
}
.plate th,
td.border {
  text-align: center;
  background-color: #17a2b8; // Bootstrap info
  font-weight: bold;
  color: #fff;
  min-width: 2em;
}
.plate td.normal {
  text-align: center;
  background-color: #e1e6fa;
}

.plate td.empty {
  color: #777;
  background-color: #ccc;
}

.plate td {
  cursor: pointer;
}
#source_plates td,
.plate td.normal,
.plate td.border {
  cursor: inherit;
}

.plate td.control {
  color: #fff;
  background-color: #0033cc;
}

.plate td.colour0 {
  background-color: #f5a9a9;
}
.plate td.colour1 {
  background-color: #f5d0a9;
}
.plate td.colour2 {
  background-color: #f2f5a9;
}
.plate td.colour3 {
  background-color: #d0f5a9;
}
.plate td.colour4 {
  background-color: #a9f5a9;
}
.plate td.colour5 {
  background-color: #a9f5d0;
}
.plate td.colour6 {
  background-color: #a9f5f2;
}
.plate td.colour7 {
  background-color: #a9d0f5;
}
.plate td.colour8 {
  background-color: #a9a9f5;
}
.plate td.colour9 {
  background-color: #d0a9f5;
}
.plate td.colour10 {
  background-color: #f5a9f2;
}
.plate td.colour11 {
  background-color: #f5a9d0;
}
.plate td.placehold {
  background-color: #bbbbbb;
}

/* New style CSS plate this needs to slowly replace the existing table style */
.new-plate {
  -moz-box-shadow: gray 0 1px 6px;
  -webkit-box-shadow: gray 0 1px 6px;
  box-shadow: gray 0 1px 6px;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;

  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;

  /* Use transparency for the background color or FF ridge will look bad... */
  border: 1px ridge rgba(11, 35, 75, 0.5);
  vertical-align: middle;
  text-align: center;
  background: #003557;
  padding: 0px;
  color: #fff;
}

.new-plate th {
  text-align: center;
}

.new-plate .well {
  height: 15px;
  min-width: 60px;
  padding: 15px 1px 15px 1px;
  text-align: center;
  border: 1px ridge rgba(5, 19, 40, 0.1);
  background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 100, color-stop(0%, #002a46), color-stop(100%, #003353));
  background: -webkit-radial-gradient(top left, #002a46, #003353);
  background: -moz-radial-gradient(top left, #002a46, #003353);
  background: -o-radial-gradient(top left, #002a46, #003353);
  background: -ms-radial-gradient(top left, #002a46, #003353);
  background: radial-gradient(top left, #002a46, #003353);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.new-plate select {
  color: #333333;
  font-size: 9px;
  width: 73px;
}
.plate_import {
  padding: 2px;
  margin: 2px;
  list-style-type: none;
}
.plate_import li {
  padding: 1px;
}

td.comment {
  padding: 5px;
  margin: 5px;
  border-top: 1px solid #cdd;
  background-color: #eee;
}

td.commentable {
  color: #888;
  font-style: italic;
}
td.commentable a {
  color: #888;
  font-style: normal;
}

#events {
  margin-bottom: 15px;
}

.asset_comment {
  display: none;
  text-align: center;
}

#plate_purposes {
  display: inline;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #b80000;
}

.asset_input_methods {
  align: center;
  text-align: center;
}

#asset_input_methods {
  align: center;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

#submission_form #project_name_results {
  border: 1px solid #ccc;
  border-top: none;
}

#add-order {
  @extend .mt-3;
  @extend .mb-3;
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-block;
  @extend .btn-primary;
}

#start-submission {
  @extend .mt-3;
  @extend .mb-3;
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-block;
  @extend .btn-success;
}

ul#orders {
  color: #333129;
  padding: 0;
  clear: both;
  margin: 15px 0;
  list-style: none outside none;
  -moz-transition: all 0.1s ease-in-out 0s;
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.save-buttons {
  @extend .mt-3;
  @extend .mb-3;
  .save-order {
    @extend .btn-success;
  }
  .cancel-order {
    @extend .btn-warning;
  }
  .delete-order {
    @extend .btn-danger;
  }
}

ul#orders li.completed {
  border-color: #017903;
  background: #ebffeb;
  color: #017802;
  opacity: 0.95;
}

ul#orders li.selected {
  opacity: 1;
  -moz-box-shadow: 0 2px 5px #c3ceda;
  box-shadow: 0 2px 5px #c3ceda;
}

ul#orders li.order.invalid {
  border-color: #920000;
}

ul#orders .errors li {
  color: #920000;
}

#orders span.badge {
  display: none;
  position: absolute;
  width: 35px;
  line-height: 35px;
  font-size: 25px;
  top: -18px;
  right: -18px;
  text-align: center;
  border-radius: 35px;
  -moz-border-radius: 35px;
  color: white;
  text-shadow: 0 -1px 0 #002800;
  box-shadow: 0 1px 3px #aaaaaa;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  font-family: "MS Mincho", "Lucida Sans Unicode", "Symbol";
}

ul#orders li.completed span.completed {
  background: #017903;
  display: block;
}
ul#orders li.invalid span.invalid {
  background: #920000;
  display: block;
}

#orders li#order-template {
}

ul#orders li#blank-order {
  display: none;
}

ul#orders li table {
  width: 100%;
}

#orders .comments {
  width: 100%;
}

h2.error {
  color: #920000;
}
div#order-template.section-complete {
  @extend .bg-success;
  @extend .text-white;
  h3:after {
    content: " ✓";
    float: right;
  }
}
div#order-template.section-error {
  h3:after {
    content: " ❌";
    float: right;
  }
  content: " ❌";
  float: right;
}

ul#orders ul.errors li {
  width: 100%;
  border: none;
  padding: 0px;
  box-shadow: none;
  height: auto;
  width: auto;
  float: none;
  opacity: 1;
  position: initial;
}

ul#orders > li.buttons {
  padding: 0;
  margin-top: 30px;
}

#asset_input_methods td {
  vertical-align: top;
}
#asset_input_methods td.separator {
  vertical-align: middle;
}

label.required:after {
  content: fa-content($fa-var-asterisk);
  padding: 0 0.5em;
  @extend .text-warning;
  @extend .fa;
}

.sqs-form {
  legend {
    @extend .col-form-label;
  }
}

.sample_row.disabled,
.sample_row.disabled input {
  background-color: #ddd;
}

#slf fieldset {
  display: inline;
  vertical-align: text-top;
  width: 30%;
}

div.auto_complete {
  width: 100%;
  background: #fff;
  z-index: 250;
  border: 1px solid gray;
}

div.auto_complete ul {
  border: 1px solid 888;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

div.auto_complete ul li {
  margin: 0;
  padding: 3px;
}

div.auto_complete ul.li.selected {
  background-color: #ffb;
}

div.auto_complete ul strong.highlight {
  color: #800;
  margin: 0;
  padding: 0;
}

#pick_by_nano_grams_per_micro_litre {
}

#pick_by_nano_grams {
}

#plate_purpose_box {
  clear: both;
  margin-bottom: 30px;
}

.next_step_task {
  clear: both;
  margin: 30px;
}

td.red {
  background-color: #a00;
  color: white;
}
td.green {
  background-color: #d0f5a9;
}
td.orange {
  background-color: orange;
}

#default-values fieldset {
  clear: both;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #c0c0c0;
  background: #f4f4f4;
  padding: 1em;
}

#default-values fieldset legend {
  width: auto;
  margin-bottom: 0;
  border: 0;
}

#activity-logging {
  width: 100%;
  border: none;
}
tr.duplicate-error {
  background: #ffb0b0 !important;
}
tr.duplicate-error td {
  background: #ffb0b0 !important;
}

#increment-tags-info {
  right: 0;
}

.options_group {
  border: 1px solid #bbbbbb;
  box-shadow: 0 1px 5px #e1e1e1;
  -moz-box-shadow: 0 1px 5px #e1e1e1;
  margin: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #e2e2e2;
  color: #000000;
  padding: 1em;
}

ul.options {
  list-style: none;
  margin: 0;
}
ul.options label {
  font-weight: bold;
}
ul.options li {
  margin: 0.3em;
}

.hidden {
  display: none;
}
.shown-button {
  cursor: pointer;
  float: right;
}

form#new_labwhere_reception label {
  display: inline-block;
  width: 20em;
}
form#new_labwhere_reception .form-group {
  margin-bottom: 0.5em;
}

form#new_labwhere_reception ul li a {
  cursor: pointer;
}

.form-inline .form-group .form-control {
  margin-right: 1em;
}

ul#orders li.order {
  text-align: left;
}

.nav.nav-tabs li:hover {
  cursor: pointer;
}

.selected {
  background-color: inherit;
}

.nav.nav-tabs li a {
  color: inherit;
}

.nav.nav-tabs li.selected {
  box-shadow: inherit;
}

ul#orders li.selected {
  box-shadow: inherit;
}

ul.nav.nav-tabs > li.selected > a {
  color: #555555;
  background-color: #edf5ff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

div.grouper {
  padding-left: 1em;
  padding-right: 1em;
}

.grouped_items div.grouped_item {
  font-size: 13px;
}

section {
  margin-bottom: 0.5em;
}

.file_drop {
  border: 2px dotted gray;
  width: 80%;
  padding: 1em;
}

.no-choices-group .choices-group {
  padding: 0 !important;
  width: auto !important;
}

.unspecified {
  @extend .text-muted;
  @extend .text-lowercase;

  // Add [ ] before and after the text
  &:before {
    content: "[ ";
  }
  &:after {
    content: " ]";
  }
}
