body {
  // background-image: see inline url for path resolution
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login-panel {
  @extend .card;
  @extend .mt-4;
  @extend .mb-4;

  width: 600px;

  .title-section {
    @extend .card-body;
  }
}

#account_form {
  @extend .card-body;

  .form-help {
    @extend .form-text;
    @extend .text-muted;
  }

  form {
  }
  input {
    @extend .form-control;
    @extend .form-control-lg;
  }
  input[type="submit"] {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-success;
  }
}
