body {
  background: #039BE5;
  background: linear-gradient(45deg, rgba(3, 155, 229, 1) 0%, rgba(139, 195, 74, 1) 100%);
}

#login-panel {
  @extend .card;
  @extend .mt-4;
  @extend .mb-4;
  @extend .border-0;
  @extend .rounded-lg;

  width: 600px;

  .alert {
    @extend .mb-0;
  }
  .alert-notice {
    @extend .mx-0;
    @extend .border-0;
  }

  .title-section {
    @extend .card-body;
  }
}

#account_form {
  @extend .card-body;
  @extend .pt-0;

  .form-help {
    @extend .form-text;
    @extend .text-muted;
  }

  input {
    @extend .form-control;
    @extend .form-control-lg;
  }
  input[type="submit"] {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-success;
  }

  .form-group:last-child {
    @extend .mb-0;
  }
}
