// Controls the page header
// Note: Some components MAY be elsewhere

.help-button {
  @extend .btn;
  @extend .btn-info;
  @extend .btn-lg;
  @extend .btn-block;
  @extend .mb-3;

  &:before {
    @extend .far;
    @extend .fa-envelope;
    padding-right: 0.5em;
  }
}

.link-list {
  @extend .nav;
  @extend .flex-column;
  text-align: right;

  li {
    @extend .nav-item;
    a,
    .disabled {
      @extend .nav-link;
    }
    .disabled {
      @extend .text-muted;
    }
  }
}
