<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :menu, "Create Sequenom Plate" => new_sequenom_qc_plate_path %>
<h1>Sequenom Plates</h1>

<%= pagination @sequenom_qc_plates %>
<table id="study_list" width="100%"  cellpadding="4" cellspacing="0">
  <thead>
  <tr>
    <th>Plate</th>
    <th>Name in MSPEC</th>
    <th>Created</th>
    <th>Quadrant</th>
    <th>Source Plate</th>
    <th>No. Blanks</th>
    <th>Study</th>
    <th>Type</th>
    <th>A1 Name</th>
    </tr>
  </thead>
  <tbody>
  <% @sequenom_qc_plates.each_with_index do |plate,plate_index| %>
    <%= render partial: 'sequenom_plate_details_row', locals: {plate: plate, plate_index: plate_index} %>
  <% end %>
  </tbody>
</table>
<%= pagination @sequenom_qc_plates %>

