<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2015,2016 Genome Research Ltd.%>

<h2>Results for: <span style="background-color: #FFFF66"> <%= @query %> </span></h2>
<% unless @batches.blank? %>
  <h3 id="batches">Batches</h3>
  <div class="info">
    <table width="100%" cellspacing="0" cellpadding="4">
      <thead>
        <tr>
          <th width="20%">Batch ID</th>
          <th>Pipeline</th>
          <th>Batch Status</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "lab_searches/show/batch", collection: @batches %>
      </tbody>
    </table>
  </div>
<%- else -%>
  <div>No results for batches</div>
<%- end -%>

<% unless @assets.blank? %>
  <h3 id="requests">Assets</h3>
  <div class="info">
  <table class='table'>
    <thead>
      <tr>
        <th width="25%">Asset</th>
        <th width="15%">Barcode</th>
        <th width="15%">Pipeline</th>
        <th width="10%">Request ID</th>
        <th width="10%">Batch ID</th>
        <th width="20%">Type</th>
        <th width="20%">Location</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "lab_searches/show/asset", collection: @assets %>
    </tbody>
  </table>
  </div>
<%- else -%>
  <div>No results for assets</div>
<%- end -%>
