
<%= panel do %>
  <% unless @batches.blank? %>
    <h3 id="batches">Batches</h3>

      <table  class='table'>
        <thead>
          <tr>
            <th>Batch ID</th>
            <th>Pipeline</th>
            <th>Batch Status</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "lab_searches/show/batch", collection: @batches %>
        </tbody>
      </table>

  <%- else -%>
    <div>No results for batches. Batches can be found by their ID, or the login of the user associated with them.</div>
  <%- end -%>
<% end %>
<%= panel do %>
  <% unless @assets.blank? %>
    <h3 id="requests">Assets</h3>

    <table class='table'>
      <thead>
        <tr>
          <th>Asset</th>
          <th>Barcode</th>
          <th>Pipeline</th>
          <th>Request ID</th>
          <th>Batch ID</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "lab_searches/show/asset", collection: @assets %>
      </tbody>
    </table>

  <%- else -%>
    <div>No results for assets. If you are looking for a barcode, make sure you include the prefix, such as DN or NT.</div>
  <%- end -%>
<% end %>
