<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, "Sequencing studies can be edited, approved and managed from here." %>
<% add :menu, "View all studies" => studies_path %>
<% add :menu, "Contacts" => collaborators_study_path(@study) %>
<% add :menu, "Study History" => summary_study_workflow_path(@study, @current_user.workflow) -%>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_path(@study) -%>

<%= page_title 'Manage Study', @study.name %>

<%= tabulated_error_messages_for "study" -%>

<p>You can update the approval status for a study here.</p>

<%= render partial: "manage_single_study", locals: { request_types: @request_types } %>
