
<div class="page-header"><h1>New well</h1></div>

<%= form_for(@well) do |f| %>
  <%= render_error_messages(@well) %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', plate_wells_path %>
