<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015,2016 Genome Research Ltd.%>

<div class="info">
  <h2>Enter or scan the barcode</h2>
</div>
<div class="info">
  <p>
    <table>
      <%= form_tag '/assets/lab_view', class: 'form-inline' %>
      <tr>
        <td>
          <%= text_field_tag 'barcode', nil, class: 'form-control' %>
        </td>
        <td>
          <%= submit_tag "Find", class: 'form-control' %>
        </td>
      </tr>
    </table><br />
  </p>
</div>
