
  <div id="metadata-table-container" class='card'>
    <div class='card-header'>
      <a href='#metadata-table-collapser' role="button" data-toggle='collapse'>
      <h3 class='card-title'>Metadata
        <small class='show-hide'>Click to toggle</small>
      </h3>
      </a>
    </div>
    <div id="metadata-table-collapser" class="collapse in show">
    <% if @asset.custom_metadatum_collection.present?%>
      <table id="metadata-table" class="sortable table striped">
        <colgroup>
          <col class="npg_aliquot_index">
        </colgroup>
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% @asset.metadata.each do |k, v| %>
            <tr>
              <td><%= k %></td>
              <td><%= v %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <div class="card-body">There is no metadata stored for this asset.</div>
      <% end %>
    </div>
  </div>
