<div class="help">
  Samples should be labeled with the unique sample id using a machine printed label. <br />At least 5&mu;g DNA at > 10ng/&mu;l should be supplied in a 1.5ml eppendorf tube.
</div>
<strong>Scan your sample:</strong>
