<div class="content">
  <% unless @errors.nil? %>
  <table class="error">
    <% @errors.each do |error| %>
    <tr><td class="error"><%= error %></td></tr>
    <% end %>
  </table>
  <% end %>
  <div id='form'>
    <br />
    <% form_for :asset, :url => { :controller => :assets, :action => :complete_move_to_2D } do |f| %>
    Type: <%= select :type, :id, { "Library" => "LibraryTube", "Sample" => "SampleTube", "Multiplexed Library" => "MultiplexedLibraryTube", "PacBioLibraryTube" => "PacBioLibraryTube" } %><br />
    <ul class="tube_import">
      <% num_text_boxes ||= 1 %>
      <% num_text_boxes.times do |i| %>
      <%= text_field :barcode, i, { :class => 'big' } %>
      <% end %>
      <%= submit_tag "Submit" %>
    </ul>
    <% end %>
  </div>
</div>
