<% add(:menu, "Back to study" => study_path(@study)) if @study.present? -%>

<h1>
<% if @study.present? -%>
 Listing assets for study <%= @study.name %>
<% else -%>
 Listing assets
<% end -%>
</h1>
<br />

<%= will_paginate @assets %>
      <%= render(:partial => 'table_of_assets', :locals => { :assets => @assets, :study => @study }) %>
<%= will_paginate @assets %>
<br />
