<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2011 Genome Research Ltd.%>
<% add(:menu, "Back to study" => study_path(@study)) if @study.present? -%>

<h1>
<% if @study.present? -%>
 Listing assets for study <%= @study.name %>
<% else -%>
 Listing assets
<% end -%>
</h1>
<br />

<%= will_paginate @assets %>
      <%= render(:partial => 'table_of_assets', :locals => { :assets => @assets, :study => @study }) %>
<%= will_paginate @assets %>
<br />
