<% add(:menu, "Back to study" => study_path(@study)) if @study.present? -%>

<h1>
<% if @study.present? -%>
 Listing assets for study <%= @study.name %>
<% else -%>
 Listing assets
<% end -%>
</h1>
<br />


<div id="assets">
  <div id="assets_with_requests">
  <% unless @assets_with_requests.blank? %>
      <strong>The following assets have had work requested on them</strong>
      <%= render(:partial => 'table_of_assets', :locals => { :assets => @assets_with_requests, :study => @study }) %>
    <br />
  <% end %>
  </div>
  
  <%# will_paginate @assets_with_requests %>
  
  <div ="assets_without_requests">
  <% unless @assets_without_requests.blank? %>
      <strong>The following assets have not had work requested on them</strong>
      <%= render(:partial => 'table_of_assets', :locals => { :assets => @assets_without_requests, :study => @study }) %>
  <% end %>
  </div>
</div>
