<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<% add :title, "Resources lookup" -%>
<% add :menu, "Reception" => "reception" -%>
<% add :back_menu, "Back to pipelines" => pipelines_path -%>

<h1>FIND ASSET</h1>
<div class="content">
  <center>
    <div id='form'>
      <div id='message'>
        <strong>Scan your asset:</strong>
      </div>
      <br />
      <%= form_for(:asset) do |f| %>
        <div class='entry'>
          <%= text_field :asset, :barcode, { :class => 'big' } %>
        </div>
      <% end %>
      <div id='loading' style='display: none;'>Loading <%= image_tag 'ajax-loader.gif', :size => "10x10", :alt => "Ajax Loader" %></div>
      <div id='response'>
      </div>
      <br />
    </div>
  </center>
</div>
