<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2011,2013 Genome Research Ltd.%>
<% add :title, "Print barcode for this asset." -%>
<% add :menu, "View studies" => studies_path -%>
<% @asset.studies.uniq.each do |study| %>
	<% add :menu, "Back to #{study.name}" => study_url(study) %>
<% end %>

<div id="content-title">
  <div id="content-name">
    <em><strong><%= @asset.label %> <%= @asset.id %></strong>
  </div>
  &nbsp;
</div>
<%= render :partial => 'print_form', :locals => { :asset => @asset } %>
