<% add :title, "Print barcode for this asset." -%>
<% add :menu, "View studies" => studies_path -%>
<% @asset.studies.uniq.each do |study| %>
	<% add :menu, "Back to #{study.name}" => study_url(study) %>
<% end %>

<div id="content-title">
  <div id="content-name">
    <em><strong><%= @asset.label %> <%= @asset.id %></strong>
  </div>
  &nbsp;
</div>
<%= render :partial => 'print_form', :locals => { :asset => @asset } %>
