<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2011 Genome Research Ltd.%>
<select id="asset_group_id" name="asset_group_id">
<option value="0">- Select an existing Asset Group from this study -</option>
<% @assets.each do |asset| %>
  <option value="<%= asset.id %>"> <%= h(asset.display_name) %> </option>
<% end %>
</select>
or enter the new name:  <%= text_field_tag "new_assets_name" %> &nbsp; <INPUT type="button" value="Help me!"  onClick="createNameAsset()">

<%= javascript_include_tag 'sample_move.js' %>
