<div class='columnize'>
  <% each_non_empty_search_result do |kind,results| %>
    <%= panel('results', id: kind) do %>
      <h4><%= pluralize(results.length, kind) %></h4>
      <ul>
        <%= render partial: "searches/show/#{ kind }", collection: results %>
      </ul>
    <% end %>
  <% end %>
</div>

<% unless @studies.present? || @samples.present? || @assets.present? || @requests.present? -%>
  <%= alert(:warning) do %>
    <h3>No results</h3>
  <% end %>
<% end -%>
