<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2014,2015 Genome Research Ltd.%>

<h2>Results:</h2>
<div class="info">
  <% each_non_empty_search_result do |kind,results| %>
    <h4><%= pluralize(results.size, kind) %></h4>
    <ul>
      <%= render partial: "searches/show/#{ kind }", collection: results %>
    </ul>
  <% end %>
</div>
<% unless @studies.present? || @samples.present? || @assets.present? || @requests.present? -%>
  <div class="info">
    <h3>No results</h3>
  </div>
<% end -%>
