---
limber_multiplexing:
  name: Limber Multiplexing
  asset_type: Well
  order: 2
  request_class_name: Request::Multiplexing
  for_multiplexing: true
  product_line_name: Illumina-HTP
  target_purpose_name: LB Lib Pool Norm
limber_wgs:
  <<: &limber_htp_library
    asset_type: Well
    order: 1
    request_class_name: IlluminaHtp::Requests::StdLibraryRequest
    billable: true
    product_line_name: Illumina-HTP
  name: Limber WGS
  acceptable_purposes:
    - LB Cherrypick
  library_types:
    - Standard
    - Chromium single cell CNV
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_isc:
  <<: *limber_htp_library
  name: Limber ISC
  request_class_name: Pulldown::Requests::IscLibraryRequest
  acceptable_purposes:
    - LB Cherrypick
  library_types:
    - Agilent Pulldown
    - Twist Pulldown
    - BGE
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_reisc:
  <<: *limber_htp_library
  name: Limber ReISC
  request_class_name: Pulldown::Requests::ReIscLibraryRequest
  acceptable_purposes:
    - LB Lib PCR-XP
    - LTN Lib PCR XP # for Targeted NanoSeq ReISC
    - RVI Lib PCR XP # for RVI Bait Capture Library
    - RVIG Lib PCR XP # for RVIG Bait Capture Library
  library_types:
    - Agilent Pulldown
    - Twist Pulldown
    - Duplex-Seq
    - Targeted NanoSeq Pulldown Twist
    - Targeted NanoSeq Pulldown Agilent
    - BGE
    - RVI-BCL
    - RVIG-BCL
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_pcr_free:
  <<: *limber_htp_library
  name: Limber PCR Free
  acceptable_purposes:
    - PF Cherrypicked
  library_types:
    - HiSeqX PCR free
    - Chromium single cell CNV
    - DAFT-seq
    - PCR Free 384
    - BGE
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_lcmb:
  <<: *limber_htp_library
  name: Limber LCMB
  acceptable_purposes:
    - LCMB Cherrypick
  library_types:
    - LCMB
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_rnaa:
  <<: *limber_htp_library
  name: Limber RNAA
  acceptable_purposes:
    - LBR Cherrypick
  library_types:
    - RNA PolyA
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_scrna:
  <<: *limber_htp_library
  name: Limber scRNA
  acceptable_purposes:
    - scRNA Stock
    - GnT Stock
  library_types:
    - scRNA
    - GnT scRNA
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_gbs:
  <<: *limber_htp_library
  name: Limber GBS
  for_multiplexing: true
  request_class_name: IlluminaHtp::Requests::GbsRequest
  acceptable_purposes:
    - GBS Stock
    - GBS-96 Stock
    - LANS-96 Lysate
  library_types:
    - GBS
    - GnT MDA
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_rnaag:
  <<: *limber_htp_library
  name: Limber RNAAG
  acceptable_purposes:
    - LBR Cherrypick
  library_types:
    - RNA Poly A Globin
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_scrna-384:
  <<: *limber_htp_library
  name: Limber scRNA-384
  acceptable_purposes:
    - scRNA-384 Stock
  library_types:
    - scRNA 384
    - GnT scRNA
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_rnar:
  <<: *limber_htp_library
  name: Limber RNAR
  acceptable_purposes:
    - LBR Cherrypick
  library_types:
    - RNA Ribo
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_rnarg:
  <<: *limber_htp_library
  name: Limber RNARG
  acceptable_purposes:
    - LBR Cherrypick
  library_types:
    - RNA Ribo Globin
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_gnt_picoplex:
  <<: *limber_htp_library
  name: Limber GnT Picoplex
  acceptable_purposes:
    - GnT Stock
  library_types:
    - GnT Picoplex
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_gnt_mda:
  <<: *limber_htp_library
  name: Limber GnT MDA
  acceptable_purposes:
    - GnT Stock
  library_types:
    - GnT MDA
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_heron:
  <<: *limber_htp_library
  name: Limber Heron
  request_class_name: IlluminaHtp::Requests::HeronRequest
  acceptable_purposes:
    - LHR RT
    - LHR-384 RT
  library_types:
    - PCR amplicon ligated adapters
    - PCR amplicon ligated adapters 384
    - PCR with TruSeq tails amplicon
    - PCR with TruSeq tails amplicon 384
    - Sanger_artic_v3_96
    - Sanger_artic_v4_96
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_heron_lthr:
  <<: *limber_htp_library
  name: Limber Heron LTHR
  request_class_name: IlluminaHtp::Requests::HeronTailedRequest
  acceptable_purposes:
    - LTHR RT
    - LTHR-384 RT
    - LTHR Cherrypick
  library_types:
    - Sanger_tailed_artic_v1_96
    - Sanger_tailed_artic_v1_384
    - PCR amplicon tailed adapters 96
    - PCR amplicon tailed adapters 384
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_heron_lthr_v2:
  <<: *limber_htp_library
  name: Limber Heron LTHR V2
  request_class_name: IlluminaHtp::Requests::HeronTailedRequest
  for_multiplexing: true
  target_purpose_name: LB Lib Pool Norm
  acceptable_purposes:
    - LTHR RT
    - LTHR-384 RT
    - LTHR Cherrypick
  library_types:
    - Sanger_tailed_artic_v1_96
    - Sanger_tailed_artic_v1_384
    - PCR amplicon tailed adapters 96
    - PCR amplicon tailed adapters 384
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_pwgs-384:
  <<: *limber_htp_library
  name: Limber pWGS-384
  acceptable_purposes:
    - LB Cherrypick
  library_types:
    - pWGS-384
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_duplex-seq:
  <<: *limber_htp_library
  name: Limber Duplex-Seq
  acceptable_purposes:
    - LDS Stock
    - LDS Cherrypick
  library_types:
    - Duplex-Seq
    - Targeted Nanoseq
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_targeted_nanoseq:
  <<: *limber_htp_library
  name: Limber Targeted NanoSeq
  acceptable_purposes:
    - LTN Stock
    - LTN Cherrypick
  library_types:
    - Targeted Nanoseq
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_rnaf:
  <<: *limber_htp_library
  name: Limber RNAF
  acceptable_purposes:
    - LBR Cherrypick
  library_types:
    - RNA FFPE
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
