---
limber_multiplexing:
  name: Limber Multiplexing
  asset_type: Well
  order: 2
  request_class_name: Request::Multiplexing
  for_multiplexing: true
  product_line_name: Illumina-HTP
  target_purpose_name: LB Lib Pool Norm
limber_wgs:
  <<: &limber_htp_library
    asset_type: Well
    order: 1
    request_class_name: IlluminaHtp::Requests::StdLibraryRequest
    billable: true
    product_line_name: Illumina-HTP
  name: Limber WGS
  acceptable_plate_purposes:
    - LB Cherrypick
  library_types:
    - Standard
    - Chromium single cell CNV
limber_isc:
  <<: *limber_htp_library
  name: Limber ISC
  request_class_name: Pulldown::Requests::IscLibraryRequest
  acceptable_plate_purposes:
    - LB Cherrypick
  library_types:
    - Agilent Pulldown
    - Twist Pulldown
limber_reisc:
  <<: *limber_htp_library
  name: Limber ReISC
  request_class_name: Pulldown::Requests::ReIscLibraryRequest
  acceptable_plate_purposes:
    - LB Lib PCR-XP
  library_types:
    - Agilent Pulldown
    - Twist Pulldown
    - Duplex-Seq
limber_pcr_free:
  <<: *limber_htp_library
  name: Limber PCR Free
  acceptable_plate_purposes:
    - PF Cherrypicked
  library_types:
    - HiSeqX PCR free
    - Chromium single cell CNV
    - DAFT-seq
    - PCR Free 384
limber_lcmb:
  <<: *limber_htp_library
  name: Limber LCMB
  acceptable_plate_purposes:
    - LB Cherrypick
  library_types:
    - Standard
    - Chromium single cell CNV
limber_rnaa:
  <<: *limber_htp_library
  name: Limber RNAA
  acceptable_plate_purposes:
    - LBR Cherrypick
  library_types:
    - RNA PolyA
limber_scrna:
  <<: *limber_htp_library
  name: Limber scRNA
  acceptable_plate_purposes:
    - scRNA Stock
    - GnT Stock
  library_types:
    - scRNA
    - GnT scRNA
limber_gbs:
  <<: *limber_htp_library
  name: Limber GBS
  for_multiplexing: true
  request_class_name: IlluminaHtp::Requests::GbsRequest
  acceptable_plate_purposes:
    - GBS Stock
    - GBS-96 Stock
  library_types:
    - GBS
    - GnT MDA
limber_rnaag:
  <<: *limber_htp_library
  name: Limber RNAAG
  acceptable_plate_purposes:
    - LBR Cherrypick
  library_types:
    - RNA Poly A Globin
limber_scrna-384:
  <<: *limber_htp_library
  name: Limber scRNA-384
  acceptable_plate_purposes:
    - scRNA-384 Stock
  library_types:
    - scRNA 384
    - GnT scRNA
limber_rnar:
  <<: *limber_htp_library
  name: Limber RNAR
  acceptable_plate_purposes:
    - LBR Cherrypick
  library_types:
    - RNA Ribo
limber_rnarg:
  <<: *limber_htp_library
  name: Limber RNARG
  acceptable_plate_purposes:
    - LBR Cherrypick
  library_types:
    - RNA Ribo Globin
limber_gnt_picoplex:
  <<: *limber_htp_library
  name: Limber GnT Picoplex
  acceptable_plate_purposes:
    - GnT Stock
  library_types:
    - GnT Picoplex
limber_gnt_mda:
  <<: *limber_htp_library
  name: Limber GnT MDA
  acceptable_plate_purposes:
    - GnT Stock
  library_types:
    - GnT MDA
limber_heron:
  <<: *limber_htp_library
  name: Limber Heron
  request_class_name: IlluminaHtp::Requests::HeronRequest
  acceptable_plate_purposes:
    - LHR RT
    - LHR-384 RT
  library_types:
    - PCR amplicon ligated adapters
    - PCR amplicon ligated adapters 384
    - PCR with TruSeq tails amplicon
    - PCR with TruSeq tails amplicon 384
    - Sanger_artic_v3_96
    - Sanger_artic_v4_96
limber_heron_lthr:
  <<: *limber_htp_library
  name: Limber Heron LTHR
  request_class_name: IlluminaHtp::Requests::HeronTailedRequest
  acceptable_plate_purposes:
    - LTHR RT
    - LTHR-384 RT
    - LTHR Cherrypick
  library_types:
    - Sanger_tailed_artic_v1_96
    - Sanger_tailed_artic_v1_384
    - PCR amplicon tailed adapters 96
    - PCR amplicon tailed adapters 384
limber_pwgs-384:
  <<: *limber_htp_library
  name: Limber pWGS-384
  acceptable_plate_purposes:
    - LB Cherrypick
  library_types:
    - pWGS-384
limber_duplex-seq:
  <<: *limber_htp_library
  name: Limber Duplex-Seq
  acceptable_plate_purposes:
    - LDS Stock
    - LDS Cherrypick
  library_types:
    - Duplex-Seq
    - Targeted Nanoseq
