---
limber_pcr_bespoke:
  <<: &limber_bespoke_library
    asset_type: Well
    order: 1
    request_class_name: IlluminaHtp::Requests::StdLibraryRequest
    billable: true
    product_line_name: Bespoke
  name: Limber PCR Bespoke
  acceptable_purposes:
    - LBB Cherrypick
    - LBC Cherrypick
    - Stock Plate
  library_types:
    - ChIP-Seq Auto
    - Chromium single cell HTO
    - Chromium single cell surface protein
    - Chromium single cell surface protein HT
    - Chromium Visium
    - Chromium Visium FFPE
    - Manual Chromium single cell 3 prime v3
    - Manual Chromium single cell 3 prime HT v3
    - Manual Chromium single cell 5 prime v2
    - Manual Chromium single cell 5 prime HT v2
    - Manual Chromium single cell TCR
    - Manual Chromium single cell BCR
    - Manual Chromium single cell BCR HT
    - Manual Chromium single cell TCR HT
    - emSEQ
    - Haplotagging
    - Hi-C
    - Hi-C - Arima v1
    - Hi-C - Arima v2
    - Hi-C - Dovetail
    - Hi-C - OmniC
    - Hi-C - Qiagen
    - Manual Standard WGS (Plate)
    - Ribozero RNA depletion
    - Ribozero RNA-seq (Bacterial)
    - Ribozero RNA-seq (HMR)
    - RNA-seq dUTP eukaryotic
    - RNA-seq dUTP prokaryotic
    - Small RNA (miRNA)
    - Standard
    - TraDIS
    - TruSeq mRNA (RNA Seq)
    - SGE Library v0.2
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_chromium_bespoke:
  <<: *limber_bespoke_library
  name: Limber Chromium Bespoke
  acceptable_purposes:
    - LBB Cherrypick
    - LBC Cherrypick
  library_types:
    - Chromium exome
    - Chromium single cell 3 prime v2
    - Chromium single cell 3 prime v3
    - Chromium single cell 5 prime
    - Chromium single cell TCR
    - Chromium single cell BCR
    - Chromium genome
    - Chromium single cell
    - Chromium single cell CNV
    - Chromium single cell ATAC
    - Chromium single cell 3 prime HT v3
    - Chromium single cell 5 prime HT v2
    - Chromium single cell BCR HT
    - Chromium single cell TCR HT
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_pcr_free_bespoke:
  <<: *limber_bespoke_library
  name: Limber PCR Free Bespoke
  acceptable_purposes:
    - LBB Cherrypick
  library_types:
    - DAFT-seq
    - HiSeqX PCR free
    - No PCR (Plate)
    - TruSeq Custom Amplicon
    - 10x RNA Flex
    - Parse Evercode
    - 16S rRNA
limber_bespoke_aggregation:
  <<: *limber_bespoke_library
  name: Limber Bespoke Aggregation
  order: 0
  billable: false
  request_class_name: CustomerRequest
  acceptable_purposes:
    - LBC Stock
