<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<%= render_title "Edit" %>
<%= render_help "Add new section to this template."%>

<div id="main-items">
  <div id="template">
    Add a new section: <strong>Reference assembly</strong>
    <p>
      Collect reference assembly information for each sample.
    </p>
  </div>
</div>

<div id="main-links">
  <div id="callouts">
    <%= link_to "Back", controller: :families, action: :edit, id: @family.id %>
  </div>
</div>

<br clear="all" />
