<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015,2016 Genome Research Ltd.%>

<div id="navi" class="yui-navset">
  <ul class="nav nav-tabs">
    <% @summaries.each_with_index do |description, index| %>
    <% selected = summary.to_i == index ? 'selected' : '' %>
    <%= content_tag(:li, class: selected) do %>
      <%= link_to content_tag(:em) { description }, show_summary_study_workflow_path(@study,@workflow, {summary: index}.merge(@extra_params)), class: (summary.to_i == index ? 'selected' : ''), remote: true, :'data-throbber' => '.loading-bar-container', :'data-failure' => '#remote_error', :'data-update' => '#everything', :'data-tab-group' => 'studies-summaries-tab' %>
      <% end %>
    <% end %>
  </ul>
  <div class="yui-content">
    <%= loading_bar %>
    <%= remote_error %>
    <div id="everything">

    </div>
  </div>
</div>
