
<%= about "Batches for '#{@study.name}'" %>

<div id='yield'>
  <div id='main-items'>
    <%= @batches.size %> batches<br />
    <% @batches.each do |batch| %>
      <%= batch.id %><br />
    <% end %>
  </div>

  <div id='main-links'>
  </div>

  <br clear='all' />
</div>
