<% add :title, "Batch" -%>
<% add :menu, "Edit batch" => edit_batch_path(@batch) -%>
<% add :back_menu, "Back to pipeline" => pipeline_path(@batch.pipeline) -%>

<h1>ADD TAGS TO BATCH <%= @batch.id %></h1>
<div class="info">
  This batch belongs to pipeline: <%= @batch.pipeline.name %>
</div>

<% form_for :batch, :url => {:action => "add_tags", :id => @batch} do |form| -%>
  <% form.error_messages %>
  <%= render :partial => "assign_tags", :locals => { :requests => @batch.ordered_requests, :form => form } %>

<% end %>
