<% add :title, "Batch" -%>
<% add :back_menu, "Back to pipeline" => pipeline_path(@pipeline) -%>

<h1>PENDING BATCHES FOR <%= @pipeline.name %></h1>

<%= render :partial => "shared/batches", :locals => { :batches => @batches, :showing_all => true, :in_progress => false, :batch_state => 'pending' } %>
