

<% add :menu, "View your batches" => batches_path -%>
<% add :back_menu, "Back to all pipelines" => pipelines_path -%>

<div class="page-header"><h1>ALL BATCHES</h1></div>
<div class="content">
  <%= render partial: "shared/batches", locals: {batches: @batches, showing_all: true, in_progress: true, batch_state: 'all' } %>
</div>
