<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<% add :title, "Batch" -%>
<% add :back_menu, "Back to pipeline" => pipeline_path(@qc_pipeline) -%>

<h1>BATCHES FOR <%= @qc_pipeline.name %></h1>
<% if @qc_pipeline.id == @qc_pipeline.qc_auto_pipeline_id -%>
  <%= render :partial => "pipelines/qc_batches", :locals => { :batches => @batches } %>
<% else -%>
  <%= render :partial => "pipelines/manual_qc_batches", :locals => { :batches => @batches } %>
<% end -%>
