<% add :title, "Batch" -%>
<% add :back_menu, "Back to pipeline" => pipeline_path(@pipeline) -%>

<h1>STARTED BATCHES FOR <%= @pipeline.name %></h1>

<%= render :partial => "shared/batches", :locals => { :batches => @batches, :edit => false, :in_progress => true, :showing_all => true, :batch_state => 'started' } %>
