<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<div id="commentBox">
  <div id='left'>
    <%= comment.description %>
  </div>
  <div id='right'>
    Added by <%= comment.user.login %> <%= comment.created_at.to_formatted_s(:short)%> &nbsp;
    <% if (current_user.id == comment.user.id) || current_user.administrator? %>
      <%= link_to image_tag("delete.png", :alt => "Delete", :title => "Delete"), :update => "study_annotations_#{study.id}",
          :url => { :action => "destroy", :id => comment.id }, :method => :delete, :remote => true  %>
    <% end %>
  </div>
</div>
