<ul id="study_annotations_<%= @study.id %>" style="list-style-type:none;padding:0;">
  <% if @study.comments.size > 0 %>
    <% @comments.each do |comment| %>
      <li><%= render :partial => "comment" , :locals => {:comment => comment, :study => @study}%></li>
    <% end %>
  <% else %>
    <%= display_user_guide(I18n.t('studies.comments.no_comments')) %>
  <% end %>
</ul>
