/*
 * Import all the required stylesheets. We use SASS,so that we can use bootstrap
 * Note we don't use wildcards/globbing to ensure we can control load order and to avoid importing
 * eg .orig files
 */
@import "jquery-tablesorter/theme.bootstrap";
@import "jquery-ui";
@import "all/sequencescape";
@import "all/header";
@import "all/footer";
@import "all/sidebar";
@import "all/search";
@import "all/page_specific_hacks";
@import "all/sessions";
@import "all/misc_buttons";
@import "all/pipelines_pages";
@import "all/components";
@import "all/bootstrap_variables";
@import "bootstrap";
@import "formtastic";
@import "select2";
@import "lib/select2-bootstrap4";
