<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2014,2015 Genome Research Ltd.%>

<% unless @users.nil? || @users.empty? %>
  <table width='100%' class='sortable' cellspacing='0' cellpadding='4'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Login</th>
        <th>Joined</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
        <%= render partial: "admin/users/user", collection: @users %>
    </tbody>
  </table>
<% else %>
  <h3>No users were found</h3>
<% end %>
