<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, "Administrators can customise Sequencescape from here, including data management and reporting tools." -%>

<h1>User management</h1>

<%= form_tag(filter_admin_users_url, remote: true, data: { update: "#users", throbber: '#update_loader' }, id: 'filter_form', class: 'remote-form observed') do %>
<div class="callout_filter">
  <table width="100%">
    <tr>
      <td>Registered users: <strong><%=h @users.size %></strong></td>
      <td style="text-align: right;">
        <%= image_tag "ajax-loader.gif", size: "10x10", id: "update_loader", style: "display: none;"%>Filter users: <input type="search" placeholder="search" name="q" id="q" />
      </td>
    </tr>
  </table>
<% end %>
<div id='users'>
  <%= render partial: 'users', locals: { users: @users } %>
</div>
