
<% add :about, "Administrators can customise Sequencescape from here, including data management and reporting tools." -%>

<div class="page-header"><h1>User management</h1></div>

<div class="callout_filter">
  Registered users: <strong><%=h @users.size %></strong>
</div>
<div id='users'>
  <%= render partial: 'users', locals: { users: @users } %>
</div>
