<div id="boxContainer" style="padding-left: 10px;">
  <p>
    The following parameters will be applied to all the samples in the group
  </p>

  <div id="template_form_body">
    <%= render :partial => "shared/edit_fields", :locals => { :field_infos => field_infos, :path => [:request, :properties] } %>
  </div>
  <br />
</div>
