
<div class="page-header"><h1>Listing reference genomes</h1></div>
<br />
<% if can? :create, ReferenceGenome %>
  <%= link_to 'New reference genome', new_reference_genome_path %>
<% end %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Links</th>
  </tr>

<% @reference_genomes.each do |reference_genome| %>
  <tr>
    <td><%=h reference_genome.name %></td>
    <td>
      <%= link_to 'Show', reference_genome %>
      <% if can? :edit, reference_genome %>
        <%= link_to 'Edit', edit_reference_genome_path(reference_genome) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
