<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<% add :menu, "Sample Logistics homepage" => lab_sample_logistics_path %>
<%= form_for :robot_verifications, :url => {:action => "finish"} do |f| %>
<h2>Step 3 of 3: Download TECAN file</h2>

<center>
  <%# TODO Get rid this fugly url_for link and replace with a custom tecan control and tecan_file_path type thing %>
<%= link_to 'Download TECAN file', url_for(:controller => :batches, :action => :gwl_file, :id => @batch.id, :barcode => @destination_plate_id) %>
</center>


<%= link_to "Verify more plates", robot_verifications_path %>

<% end %>
