<tr>
  <td>Request type</td>
  <td><%= @quota.request_type.name %></td>
  <%= form.hidden_field :request_type_id, :value => @quota.request_type.id %>
</tr>
<tr>
  <td>Limit</td>
  <td><%= form.text_field :limit %></td>
</tr>