name: Automated build of project and release creation

on:
  push:
    branches:
      - master
      - develop

env:
  BRANCH_NAME: ${{ github.ref_name }}

jobs:
  automated_release:
    name: Automated release
    runs-on: ubuntu-latest
    services:
      mysql:
        # Use the Mysql docker image https://hub.docker.com/_/mysql
        image: mysql:8.0
        ports:
          - 3306 # Default port mappings
          # Monitor the health of the container to mesaure when it is ready
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
        env:
          MYSQL_ROOT_PASSWORD: "" # Set root PW to nothing
          MYSQL_ALLOW_EMPTY_PASSWORD: yes

    steps:
      - name: Checkout Repository
        uses: sanger/.github/.github/actions/setup/checkout@master

      - name: Setup Ruby
        uses: sanger/.github/.github/actions/setup/ruby@master

      - name: Setup Node
        uses: sanger/.github/.github/actions/setup/node@master

      - name: Setup Environment
        uses: sanger/.github/.github/actions/setup/env@master
        with:
          dbport: ${{ job.services.mysql.ports[3306] }}

      - name: Get release version
        id: get_version
        run: echo "RELEASE_VERSION=$(cat .release-version)" >> "$GITHUB_ENV"

      # Create a release tag based on the branch name and .release-version file
      - name: Set release tag
        id: set_tag
        uses: sanger/.github/.github/actions/release/set-release-tag@master
        with:
          branch_name: ${{ env.BRANCH_NAME }}
          release_version: ${{ env.RELEASE_VERSION }}
          github_run_id: ${{ github.run_id }}

      # Actually run our build
      - name: Compile Build
        run: ./compile-build '' v${{ env.RELEASE_VERSION }} ${{ env.BRANCH_NAME }}

      # Create a GitHub release with the release asset as an artifact
      - name: Create release and upload release.tar.gz
        uses: sanger/.github/.github/actions/release/create-release@master
        with:
          release_name: ${{ steps.set_tag.outputs.release_version_tag }}
          github_ref: ${{ github.ref }}
          commit_sha: ${{ github.sha }}
