<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "sessions", :media => "all" %>

  <title>Sequencescape : <%= I18n.t('global_links.login') %></title>

</head>

<body>

  <div id="container">
    <div id="logo">
      <%= image_tag "scape-large-dark.jpg", :size => "600x229" %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
