<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "sessions", media: "all" %>

  <title>Sequencescape : <%= I18n.t('global_links.login') %></title>

</head>

<body>
  <div class="container">

  <div class="jumbotron">
    <div>
      <%= image_tag "scape-large-dark.jpg", size: "600x229" %>
    </div>
    <div>
      <%= yield %>
    </div>
  </div>
  </div>

</body>
</html>
