<% add :title, "Lab Implements correspond to barcode labels found in labs and used during Cluster Generation" -%>
<% add :back_menu, "Back to Implements" => url_for(:controller => :implements, :action => :index) -%>
<% if current_user.is_administrator? -%>
  <% add :menu, 'Edit' => edit_implement_path(@implement) -%>
<% end -%>

<h1>Lab Implement <%= @implement.id %></h1>
<div class='info'>
  <p>
      <strong>Name:</strong>
      <%=h @implement.name %>
    </p>

    <p>
        <strong>Barcode:</strong>
        <%=h  @implement.barcode %>
    </p>

    <p>
        <strong>Equipment type:</strong>
        <%=h @implement.equipment_type %>
    </p>
</div>
